In [0]:
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key", "__S3_Access_Key__")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "__S3_Secret_Key__")

##### df_dis = disease
##### df_grp = group
##### df_gs = grpsubgrp
##### df_hp = hospital
##### df_pr = patient_records
##### df_sg = subgroup
##### df_sb = subcriber
##### df_cl = claims

df4.write.parquet()

In [0]:
df_dis = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/disease/disease.csv")

df_dis.show()

+--------+-----------+--------------------+
|SubGrpID| Disease_ID|        Disease_name|
+--------+-----------+--------------------+
|    S101|     110001|            Beriberi|
|    S101|     110002|              Scurvy|
|    S101|     110003|              Goitre|
|    S101|     110004|        Osteoporosis|
|    S101|     110005|             Rickets|
|    S101|     110006|             Anaemia|
|    S102|     110007|           Fractures|
|    S102|     110008|        Heart Attack|
|    S102|     110009|               Burns|
|    S102|     110010|             Choking|
|    S102|     110011|              Stroke|
|    S102|     110012|      Food Poisoning|
|    S103|     110013|              Asthma|
|    S103|     110014|            Glaucoma|
|    S103|     110015|            Diabetes|
|    S103|     110016|             Amnesia|
|    S103|     110017|         Parasomnias|
|    S103|     110018|Neurocognitive di...|
|    S104|     110019|             Vertigo|
|    S104|     110020|          Lymphedema|
+--------+-----------+--------------------+
only showing top 20 rows

In [0]:
df_grp = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/group/group.csv")

df_grp.show()

+-------+---------------+-------+------+--------------------+--------+---------+----+
|Country|premium_written|zipcode|Grp_Id|            Grp_Name|Grp_Type|     city|year|
+-------+---------------+-------+------+--------------------+--------+---------+----+
|  India|          72000| 482018|GRP101|Life Insurance Co...|   Govt.|   Mumbai|1956|
|  India|          45000| 482049|GRP102|HDFC Standard Lif...| Private|   Mumbai|2000|
|  India|          64000| 482030|GRP103|Max Life Insuranc...| Private|    Delhi|2000|
|  India|          59000| 482028|GRP104|ICICI Prudential ...| Private|   Mumbai|2000|
|  India|          37000| 482014|GRP105|Kotak Mahindra Li...| Private|   Mumbai|2001|
|  India|          89000| 482011|GRP106|Aditya Birla Sun ...| Private|   Mumbai|2000|
|  India|          70000| 482006|GRP107|TATA AIG Life Ins...| Private|   Mumbai|2001|
|  India|          52000| 482034|GRP108|SBI Life Insuranc...| Private|   Mumbai|2001|
|  India|          78000| 482032|GRP109|Exide Life Insura...| Private|Bangalore|2001|
|  India|          48000| 482015|GRP110|Bajaj Allianz Lif...| Private|     Pune|2001|
|  India|          57000| 482011|GRP111|PNB MetLife India...| Private|   Mumbai|2001|
|  India|          57000| 482022|GRP112|Reliance Nippon L...| Private|   Mumbai|2001|
|  India|          64000| 482009|GRP113|Aviva Life Insura...| Private| Gurugram|2002|
|  India|          33000| 482043|GRP114|Sahara India Life...| Private|  Lucknow|2004|
|  India|          79000| 482036|GRP115|Shriram Life Insu...| Private|Hyderabad|2005|
|  India|          32000| 482002|GRP116|Bharti AXA Life I...| Private|   Mumbai|2008|
|  India|          59000| 482017|GRP117|Future Generali I...| Private|   Mumbai|2007|
|  India|          97000| 482023|GRP118|IDBI Federal Life...| Private|   Mumbai|2008|
|  India|          47000| 482046|GRP119|Canara HSBC Orien...| Private| Gurugram|2008|
|  India|          50000| 482017|GRP120|Aegon Life Insura...| Private|   Mumbai|2008|
+-------+---------------+-------+------+--------------------+--------+---------+----+
only showing top 20 rows

In [0]:
# df_grp.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/group.csv")
# df_grp.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/group.parquet")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col as F

In [0]:
# duplicate_rows = df.exceptAll(df.dropDuplicates()).show()

In [0]:
df_gs = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/grpsubgrp/grpsubgrp.csv")

df_gs.show()

+---------+------+
|SubGrp_ID|Grp_Id|
+---------+------+
|     S101|GRP101|
|     S101|GRP105|
|     S102|GRP110|
|     S102|GRP150|
|     S102|GRP136|
|     S103|GRP122|
|     S103|GRP108|
|     S103|GRP138|
|     S103|GRP148|
|     S104|GRP103|
|     S104|GRP113|
|     S104|GRP123|
|     S104|GRP133|
|     S104|GRP143|
|     S105|GRP153|
|     S105|GRP104|
|     S105|GRP114|
|     S105|GRP124|
|     S106|GRP117|
|     S106|GRP127|
+---------+------+
only showing top 20 rows

In [0]:
df_hp = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/hospital/hospital.csv")

df_hp.show()

+-----------+--------------------+----------+-----------+-------+
|Hospital_id|       Hospital_name|      city|      state|country|
+-----------+--------------------+----------+-----------+-------+
|      H1000|All India Institu...| New Delhi|        NaN|  India|
|      H1001|Medanta The Medicity|   Gurgaon|    Haryana|  India|
|      H1002|The Christian Med...|   Vellore| Tamil Nadu|  India|
|      H1003|PGIMER - Postgrad...|Chandigarh|    Haryana|  India|
|      H1004|Apollo Hospital -...|   Chennai| Tamil Nadu|  India|
|      H1005|P. D. Hinduja Nat...|    Mumbai|Maharashtra|  India|
|      H1006|Breach Candy Hosp...|    Mumbai|Maharashtra|  India|
|      H1007|Fortis Flt. Lt. R...| New Delhi|        NaN|  India|
|      H1008|King Edward Memor...|    Mumbai|Maharashtra|  India|
|      H1009|Indraprastha Apol...|     Delhi|        NaN|  India|
|      H1010|Lilavati Hospital...|    Mumbai|Maharashtra|  India|
|      H1011|Sir Ganga Ram Hos...|     Delhi|        NaN|  India|
|      H1012|Bombay Hospital &...|    Mumbai|Maharashtra|  India|
|      H1013|Apollo Health Cit...| Hyderabad|  Telangana|  India|
|      H1014|Fortis Hiranandan...|    Mumbai|Maharashtra|  India|
|      H1015|Fortis Hospital M...|    Mumbai|Maharashtra|  India|
|      H1016|Jaslok Hospital a...|    Mumbai|Maharashtra|  India|
|      H1017|   Manipal Hospitals| Bengaluru|  Karnataka|  India|
|      H1018|Yashoda Hospital ...| Hyderabad|  Telangana|  India|
|      H1019|Apollo Hospitals ...| Bengaluru|  Karnataka|  India|
+-----------+--------------------+----------+-----------+-------+

In [0]:
# df_hp.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/hospital.csv")
# df_hp.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/hospital.parquet")

In [0]:
df_pr = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/patient_records/Patient_records.csv")

df_pr.show()

+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date| patient_phone|    disease_name|                city|hospital_id|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|    187158|      Harbir|        Female|        1924-06-30|+91 0112009318|    Galactosemia|            Rourkela|      H1001|
|    112766|    Brahmdev|        Female|        1948-12-20|+91 1727749552|  Bladder cancer|        Tiruvottiyur|      H1016|
|    199252|     Ujjawal|          Male|        1980-04-16|+91 8547451606|   Kidney cancer|           Berhampur|      H1009|
|    133424|     Ballari|        Female|        1969-09-25|+91 0106026841|         Suicide|        Bihar Sharif|      H1017|
|    172579|     Devnath|        Female|        1946-05-01|+91 1868774631|    Food allergy|         Bidhannagar|      H1019|
|    171320|       Atasi|          Male|        1967-10-02|+91 9747336855|        Whiplash|            Amravati|      H1013|
|    107794|      Manish|          Male|        1967-06-06|+91 4354294043|      Sunbathing|              Panvel|      H1004|
|    130339|       Aakar|        Female|        1925-03-05|+91 2777633911|Drug consumption|        Bihar Sharif|      H1000|
|    110377|     Gurudas|          Male|        1945-05-06|+91 1232859381|          Dengue|           Kamarhati|      H1001|
|    149367|        NULL|          Male|        1925-06-12|+91 1780763280|    Head banging|           Bangalore|      H1013|
|    156168|        NULL|          Male|        1976-02-03|+91 5586075345| Fanconi anaemia|              Rajkot|      H1004|
|    114241|        NULL|        Female|        1955-01-22|+91 4146391938|   Breast cancer|           Ghaziabad|      H1015|
|    146382|  Dharmadaas|          Male|        1964-04-29|+91 6345482027|         Anthrax|Bhalswa Jahangir Pur|      H1019|
|    132748|    Brahmvir|          Male|        1991-11-11|+91 7316972612| Cystic fibrosis|              Ambala|      H1018|
|    167340|        NULL|        Female|        1981-01-25|+91 2960004518|    Galactosemia|Surendranagar Dud...|      H1003|
|    135184|     Bhagvan|        Female|        1966-07-24|+91 0297693485|          Dengue|          Bhimavaram|      H1018|
|    179662|   Amritkala|        Female|        1933-11-20|+91 0537157280|        Smallpox|              Meerut|      H1018|
|    184479|      Bandhu|          Male|        1996-10-15|+91 0695289163|  Pollen allergy|           Chinsurah|      H1010|
|    156988|  Bhagavaana|        Female|        1935-09-16|+91 6071745855|   Breast cancer|        Shahjahanpur|      H1012|
|    132870|        NULL|        Female|        1924-11-09|+91 8906694405|        Glaucoma|            Jabalpur|      H1017|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
only showing top 20 rows

In [0]:
df_sg = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/subgroup/subgroup.csv")

df_sg.show()

+---------+-------------------+---------------+
|SubGrp_id|        SubGrp_Name|Monthly_Premium|
+---------+-------------------+---------------+
|     S101|Deficiency Diseases|           3000|
|     S102|           Accident|           1000|
|     S103|         Physiology|           2000|
|     S104|            Therapy|           1500|
|     S105|          Allergies|           2300|
|     S106|     Self inflicted|           1200|
|     S107|             Cancer|           3200|
|     S108| Infectious disease|           1500|
|     S109|         Hereditary|           2000|
|     S110|              Viral|           1000|
+---------+-------------------+---------------+

In [0]:
# df_sg.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/subgroup.csv")
# df_sg.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/subgroup.parquet")

In [0]:
df_sb = spark.read.options(inferSchema = 'True', header = 'True').csv("s3://sbdtestbuck/capstone_prj/raw_data/subscriber/subscriber.csv")

df_sb.show()

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|    NULL|1987-06-06|1995-03-21|
|SUBID10007|     Aakar|      Yadav|            Swamy|1925-03-05|Female|+91 2777633911|  India|        Bihar Sharif|  535907|     S104|       N|1945-03-05|1946-11-07|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10009|      NULL|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|      NULL|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|      NULL|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10014|      NULL|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10019|      NULL|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

In [0]:
df_cl = spark.read.options(inferSchema = 'True', header = 'True').json("s3://sbdtestbuck/capstone_prj/raw_data/claims/claims.json")

df_cl.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|              NaN|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|              NaN|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|              NaN|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|              NaN|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|              NaN|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|              NaN|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|              NaN|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|              NaN|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|              NaN|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

# Cleaning Patients

In [0]:
# # Check for null
from pyspark.sql.functions import col 
# rows_with_null = df_pr.filter(df_pr.isNull())
# rows_with_null.show()

# Fetch and display rows with null values in any column
rows_with_null = df_pr.filter(
    col("Patient_id").isNull()|
    col("Patient_Name").isNull()|
    col("patient_gender").isNull()|
    col("patient_birth_date").isNull()|
    col("disease_name").isNull()|
    col("city").isNull()|
    col("hospital_id").isNull()
)

rows_with_null.show()
rows_with_null.count()

+----------+------------+--------------+------------------+--------------+-----------------+--------------------+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date| patient_phone|     disease_name|                city|hospital_id|
+----------+------------+--------------+------------------+--------------+-----------------+--------------------+-----------+
|    149367|        NULL|          Male|        1925-06-12|+91 1780763280|     Head banging|           Bangalore|      H1013|
|    156168|        NULL|          Male|        1976-02-03|+91 5586075345|  Fanconi anaemia|              Rajkot|      H1004|
|    114241|        NULL|        Female|        1955-01-22|+91 4146391938|    Breast cancer|           Ghaziabad|      H1015|
|    167340|        NULL|        Female|        1981-01-25|+91 2960004518|     Galactosemia|Surendranagar Dud...|      H1003|
|    132870|        NULL|        Female|        1924-11-09|+91 8906694405|         Glaucoma|            Jabalpur|      H1017|
|    117945|        NULL|          Male|        1955-12-24|+91 2416747182|         Glaucoma|          Karimnagar|      H1009|
|    197503|        NULL|        Female|        1968-07-02|+91 2599794460|           Stroke|             Gwalior|      H1009|
|    146555|        NULL|          Male|        1948-11-10|+91 8390195092|  Phenylketonuria|            Vadodara|      H1007|
|    199114|        NULL|        Female|        1955-04-07|+91 7434031446|  Phenylketonuria|          Vijayawada|      H1017|
|    156223|        NULL|        Female|        1930-11-25|          NULL|  Fanconi anaemia|            Agartala|      H1012|
|    196369|        NULL|          Male|        1931-02-04|+91 2973105946|          Choking|            Shivpuri|      H1017|
|    194166|        NULL|          Male|        1946-10-17|+91 9887324437|Colorectal cancer|           Baranagar|      H1015|
|    180709|        NULL|          Male|        1988-06-27|+91 6877897646|          Anthrax|                Pali|      H1017|
|    164524|        NULL|        Female|        1966-09-25|+91 6477918745|     Mold allergy|           Kharagpur|      H1015|
|    156364|        NULL|          Male|        1994-01-13|+91 8444537013|          Cholera|            Panihati|      H1019|
|    105686|        NULL|          Male|        1930-09-01|+91 7061843400|        Hepatitis|            Kolhapur|      H1008|
|    114252|        NULL|        Female|        1927-02-26|+91 4984346995|         Diabetes|           Ambarnath|      H1014|
+----------+------------+--------------+------------------+--------------+-----------------+--------------------+-----------+

17

In [0]:
# Count total Null Values for each column
rows_with_null.count()

# only Patient_Name has missing values

17

In [0]:
#Replace the null values for specific columns by NA

columns_to_fillna = ["Patient_name"]

for col_name in columns_to_fillna:
    df_pr = df_pr.fillna("NA", subset=[col_name])

df_pr.show()

+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date| patient_phone|    disease_name|                city|hospital_id|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
|    187158|      Harbir|        Female|        1924-06-30|+91 0112009318|    Galactosemia|            Rourkela|      H1001|
|    112766|    Brahmdev|        Female|        1948-12-20|+91 1727749552|  Bladder cancer|        Tiruvottiyur|      H1016|
|    199252|     Ujjawal|          Male|        1980-04-16|+91 8547451606|   Kidney cancer|           Berhampur|      H1009|
|    133424|     Ballari|        Female|        1969-09-25|+91 0106026841|         Suicide|        Bihar Sharif|      H1017|
|    172579|     Devnath|        Female|        1946-05-01|+91 1868774631|    Food allergy|         Bidhannagar|      H1019|
|    171320|       Atasi|          Male|        1967-10-02|+91 9747336855|        Whiplash|            Amravati|      H1013|
|    107794|      Manish|          Male|        1967-06-06|+91 4354294043|      Sunbathing|              Panvel|      H1004|
|    130339|       Aakar|        Female|        1925-03-05|+91 2777633911|Drug consumption|        Bihar Sharif|      H1000|
|    110377|     Gurudas|          Male|        1945-05-06|+91 1232859381|          Dengue|           Kamarhati|      H1001|
|    149367|          NA|          Male|        1925-06-12|+91 1780763280|    Head banging|           Bangalore|      H1013|
|    156168|          NA|          Male|        1976-02-03|+91 5586075345| Fanconi anaemia|              Rajkot|      H1004|
|    114241|          NA|        Female|        1955-01-22|+91 4146391938|   Breast cancer|           Ghaziabad|      H1015|
|    146382|  Dharmadaas|          Male|        1964-04-29|+91 6345482027|         Anthrax|Bhalswa Jahangir Pur|      H1019|
|    132748|    Brahmvir|          Male|        1991-11-11|+91 7316972612| Cystic fibrosis|              Ambala|      H1018|
|    167340|          NA|        Female|        1981-01-25|+91 2960004518|    Galactosemia|Surendranagar Dud...|      H1003|
|    135184|     Bhagvan|        Female|        1966-07-24|+91 0297693485|          Dengue|          Bhimavaram|      H1018|
|    179662|   Amritkala|        Female|        1933-11-20|+91 0537157280|        Smallpox|              Meerut|      H1018|
|    184479|      Bandhu|          Male|        1996-10-15|+91 0695289163|  Pollen allergy|           Chinsurah|      H1010|
|    156988|  Bhagavaana|        Female|        1935-09-16|+91 6071745855|   Breast cancer|        Shahjahanpur|      H1012|
|    132870|          NA|        Female|        1924-11-09|+91 8906694405|        Glaucoma|            Jabalpur|      H1017|
+----------+------------+--------------+------------------+--------------+----------------+--------------------+-----------+
only showing top 20 rows

In [0]:
# df_pr.count()
# Fetch and display rows with null values in any column
rows_with_null = df_pr.filter(
    col("Patient_id").isNull()|
    col("Patient_Name").isNull()|
    col("patient_gender").isNull()|
    col("patient_birth_date").isNull()|
    col("disease_name").isNull()|
    col("city").isNull()|
    col("hospital_id").isNull()
)

rows_with_null.show()

+----------+------------+--------------+------------------+-------------+------------+----+-----------+
|Patient_id|Patient_name|patient_gender|patient_birth_date|patient_phone|disease_name|city|hospital_id|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+
+----------+------------+--------------+------------------+-------------+------------+----+-----------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# Create a window specification to identify duplicates
window_spec = Window.partitionBy(df_pr.columns).orderBy("Patient_id")

# Add a count column to identify duplicates
df_duplicates = df_pr.withColumn("duplicate_count", F.count("*").over(window_spec))

# Filter rows with duplicate_count > 1
duplicate_rows = df_duplicates.filter("duplicate_count > 1")

# Display rows with duplicates
duplicate_rows.show()

+----------+------------+--------------+------------------+-------------+------------+----+-----------+---------------+
|Patient_id|Patient_name|patient_gender|patient_birth_date|patient_phone|disease_name|city|hospital_id|duplicate_count|
+----------+------------+--------------+------------------+-------------+------------+----+-----------+---------------+
+----------+------------+--------------+------------------+-------------+------------+----+-----------+---------------+

In [0]:
# CHeck if there are any duplicate records

df_pr.groupby('Patient_id','patient_gender') \
    .count() \
    .filter(F.col('count') > 1) \
    .sort('count', ascending=False) \
    .show()

+----------+--------------+-----+
|Patient_id|patient_gender|count|
+----------+--------------+-----+
+----------+--------------+-----+

In [0]:
df_pr.count()

70

In [0]:
# Drop Duplicates if exists
# No duplicates exists

In [0]:
# df_pr.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/patient_records.csv")
# df_pr.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/patient_records.parquet")

# Cleaning Subscriber

In [0]:
# check if there are null values in dataset
df_sb.show()

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|    NULL|1987-06-06|1995-03-21|
|SUBID10007|     Aakar|      Yadav|            Swamy|1925-03-05|Female|+91 2777633911|  India|        Bihar Sharif|  535907|     S104|       N|1945-03-05|1946-11-07|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10009|      NULL|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|      NULL|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|      NULL|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10014|      NULL|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10019|      NULL|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

In [0]:
# Count the total Null values for each column
# Fetch and display rows with null values in any column
rows_with_null_sb = df_sb.filter(
    col("sub _id").isNull()|
    col("first_name").isNull()|
    col("last_name").isNull()|
    col("Street").isNull()|
    col("Birth_date").isNull()|
    col("Gender").isNull()|
    col("Phone").isNull()|
    col("Country").isNull()|
    col("City").isNull()|
    col("Zip Code").isNull()|
    col("subgrp_id").isNull()|
    col("Elig_ind").isNull()|
    col("Gender").isNull()|
    col("eff_date").isNull()|
    col("term_date").isNull())
    
rows_with_null_sb.show()

#33 rows contains NULL
# COLUMNS WITH NULL: first_name, Phone, Subgrp_id, Elig_ind

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|    NULL|1987-06-06|1995-03-21|
|SUBID10009|      NULL|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|      NULL|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|      NULL|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10014|      NULL|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10019|      NULL|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
|SUBID10022|   Prakash|        Rao|           Sachar|1923-09-15|Female|+91 9268324471|  India|            Kottayam|  180680|     NULL|       N|1943-09-15|1948-10-19|
|SUBID10025|      NULL|     Tiwari|        Sha Chowk|1955-12-24|  Male|+91 2416747182|  India|          Karimnagar|  567762|     S106|       N|1975-12-24|1983-02-03|
| SUBID1032|      NULL|       Seth|     Sandhu Chowk|1968-07-02|Female|+91 2599794460|  India|             Gwalior|  611826|     S110|       N|1988-07-02|1991-03-14|
| SUBID1036|   Upasana|     Thakur|        Vasa Ganj|1927-10-03|Female|          NULL|  India|              Ratlam|  326733|     S108|       N|1947-10-03|1951-02-20|
| SUBID1037|      NULL|     Rajput|      Shere Chowk|1948-11-10|  Male|+91 8390195092|  India|            Vadodara|  877443|     S101|       Y|1968-11-10|1973-12-25|
| SUBID1038|      NULL|     Thakur|   Rastogi Street|1955-04-07|Female|+91 7434031446|  India|          Vijayawada|  438940|     S104|    NULL|1975-04-07|1982-01-25|
| SUBID1041|      NULL|     Rajput|       Sinha Path|1930-11-25|Female|          NULL|  India|            Agartala|  303503|     S110|       Y|1950-11-25|1957-09-14|
| SUBID1047|      NULL|        Rai|      Sagar Chowk|1931-02-04|  Male|+91 2973105946|  India|            Shivpuri|  794170|     S109|       Y|1951-02-04|1955-07-14|
|SUBID10049|   Paridhi|      Yadav|        Sant Path|1959-03-27|Female|+91 2139280879|  India|            Jabalpur|  883754|     NULL|       N|1979-03-27|1985-06-01|
|SUBID10051|      NULL|     Rajput|    Chauhan Chowk|1946-10-17|  Male|+91 9887324437|  India|           Baranagar|  765234|     S103|       Y|1966-10-17|1969-06-26|
|SUBID10053|      NULL|     Sonkar|      Shetty Marg|1988-06-27|  Male|+91 6877897646|  India|                Pali|  383290|     S102|       Y|2008-06-27|2016-10-30|
|SUBID10061|      NULL|     Rajput|       Anand Path|1966-09-25|Female|+91 6477918745|  India|           Kharagpur|  934938|     S103|    NULL|1986-09-25|1991-06-03|
|SUBID10064|      NULL|     Pandey|      Mangat Path|1994-01-13|  Male|+91 8444537013|  India|            Panihati|  643791|     S110|       N|2014-01-13|2019-02-24|
|SUBID10066|      NULL|       Seth|   Chaudhuri Marg|1930-09-01|  Male|+91 7061843400|  India|            Kolhapur|  597470|     S102|       N|1950-09-01|1957-12-01|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

In [0]:
rows_with_null_sb.count()

33

In [0]:
# And then replace the null values for specific columns by NA 
# COLUMNS WITH NULL: first_name, Phone, Subgrp_id, Elig_ind

columns_to_fillna = ["first_name","Phone","Subgrp_id","Elig_ind"]

for col_name in columns_to_fillna:
    df_sb = df_sb.fillna("NA", subset=[col_name])

In [0]:
# Checking NULL again

rows_with_null_sb = df_sb.filter(
    col("sub _id").isNull()|
    col("first_name").isNull()|
    col("last_name").isNull()|
    col("Street").isNull()|
    col("Birth_date").isNull()|
    col("Gender").isNull()|
    col("Phone").isNull()|
    col("Country").isNull()|
    col("City").isNull()|
    col("Zip Code").isNull()|
    col("subgrp_id").isNull()|
    col("Elig_ind").isNull()|
    col("Gender").isNull()|
    col("eff_date").isNull()|
    col("term_date").isNull())
    
rows_with_null_sb.show()

# All NULL dealth with

+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
|sub _id|first_name|last_name|Street|Birth_date|Gender|Phone|Country|City|Zip Code|Subgrp_id|Elig_ind|eff_date|term_date|
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+
+-------+----------+---------+------+----------+------+-----+-------+----+--------+---------+--------+--------+---------+

In [0]:
# Check the If three are duplicates records

duplicate_rows = df_sb.groupBy('last_name','Birth_date').count().filter('count > 1')
duplicate_rows.show()

+---------+----------+-----+
|last_name|Birth_date|count|
+---------+----------+-----+
+---------+----------+-----+

In [0]:
# innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe

df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
df_with_duplicates.show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
# If there are duplicates then drop duplicates
# No significant duplicates found

df_sb.count()
# df_sb.show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
# df_sb.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/subscriber.csv")
# df_sb.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/subscriber.parquet")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

# Cleaning Claims

In [0]:
df_cl.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|              NaN|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|              NaN|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|              NaN|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|              NaN|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|              NaN|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|              NaN|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|              NaN|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|              NaN|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|              NaN|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
# Checking for NULL


rows_with_null_cl = df_cl.filter(
    col("Claim_Or_Rejected").isNull()|
    col("claim_amount").isNull()|
    col("claim_date").isNull()|
    col("claim_type").isNull()|
    col("claim_type").isNull()|
    col("disease_name").isNull()|
    col("patient_id").isNull())

    
rows_with_null_cl.show()

+-----------------+------+------------+----------+--------+----------+------------+----------+
|Claim_Or_Rejected|SUB_ID|claim_amount|claim_date|claim_id|claim_type|disease_name|patient_id|
+-----------------+------+------------+----------+--------+----------+------------+----------+
+-----------------+------+------------+----------+--------+----------+------------+----------+

In [0]:
# It seems only the first column contains some NaN values

# Count the occurrences of each unique value in the 'Claim_Or_Rejected' column
claim_rejected_counts = df_cl.groupBy('Claim_Or_Rejected').count()

# Show the result
claim_rejected_counts.show()

+-----------------+-----+
|Claim_Or_Rejected|count|
+-----------------+-----+
|                Y|   18|
|                N|   22|
|              NaN|   30|
+-----------------+-----+

In [0]:
# Replace NaN values with 'NA' in the 'Claim_Or_Rejected' column
df_cl_filled = df_cl.withColumn('Claim_Or_Rejected', F.when(F.col('Claim_Or_Rejected') == 'NaN', 'NA').otherwise(F.col('Claim_Or_Rejected')))

# Show the resulting DataFrame
df_cl_filled.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
df_cl_filled.count()

70

In [0]:
duplicated_rows_cl = df_cl_filled.groupBy('disease_name').count().filter('count > 1')
duplicated_rows_cl.show()

# 'Claim_Or_Rejected','SUB_ID','claim_amount','claim_date','claim_id','claim_type','disease_name',

+----------------+-----+
|    disease_name|count|
+----------------+-----+
|             Flu|    2|
|  Bladder cancer|    2|
| Fanconi anaemia|    2|
|      Lymphedema|    2|
|    Mold allergy|    2|
|        Diabetes|    2|
|         Cholera|    2|
|          Stroke|    2|
|     Pet allergy|    3|
|         Anthrax|    3|
|         Malaria|    2|
|    Galactosemia|    3|
|          Scurvy|    2|
|         Choking|    2|
|   Rett Syndrome|    2|
|        Glaucoma|    3|
| Phenylketonuria|    3|
|          Asthma|    2|
|         Measles|    2|
|Drug consumption|    2|
+----------------+-----+
only showing top 20 rows

In [0]:
duplicated_rows_cl = df_cl_filled.groupBy('SUB_ID','claim_type').count().filter('count > 1')
duplicated_rows_cl.show()

# 'Claim_Or_Rejected','SUB_ID','claim_amount','claim_date','claim_id','claim_type','disease_name',

# Seems like df_cl_filled is clean

+------+----------+-----+
|SUB_ID|claim_type|count|
+------+----------+-----+
+------+----------+-----+

In [0]:
df_cl_filled.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
df_cl = df_cl_filled

df_cl.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
# df_cl_filled.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/claims.csv")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
# df_cl_filled.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/claims.parquet")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

# Cleaning Group_Subgroup

In [0]:
df_gs.show()

+---------+------+
|SubGrp_ID|Grp_Id|
+---------+------+
|     S101|GRP101|
|     S101|GRP105|
|     S102|GRP110|
|     S102|GRP150|
|     S102|GRP136|
|     S103|GRP122|
|     S103|GRP108|
|     S103|GRP138|
|     S103|GRP148|
|     S104|GRP103|
|     S104|GRP113|
|     S104|GRP123|
|     S104|GRP133|
|     S104|GRP143|
|     S105|GRP153|
|     S105|GRP104|
|     S105|GRP114|
|     S105|GRP124|
|     S106|GRP117|
|     S106|GRP127|
+---------+------+
only showing top 20 rows

In [0]:
rows_with_null_gs = df_gs.filter(
    col('SubGrp_ID').isNull()|
    col('Grp_Id').isNull()
)

rows_with_null_gs.show()

###### --->>>> No null value exists. Most likely there are duplicates here

+---------+------+
|SubGrp_ID|Grp_Id|
+---------+------+
+---------+------+

In [0]:
# Checking for duplicates

dupli_df_gs = df_gs.groupBy('Grp_Id').count().filter('count>1')
dupli_df_gs.show()

# 'SubGrp_ID','Grp_Id

+------+-----+
|Grp_Id|count|
+------+-----+
|GRP104|    2|
|GRP147|    2|
|GRP143|    2|
+------+-----+

In [0]:
# Checking for duplicates

dupli_df_gs = df_gs.groupBy('SubGrp_Id').count().filter('count>1')
dupli_df_gs.show()

# 'SubGrp_ID','Grp_Id

+---------+-----+
|SubGrp_Id|count|
+---------+-----+
|     S105|    4|
|     S102|    3|
|     S106|    5|
|     S104|    5|
|     S107|    4|
|     S110|    3|
|     S101|    2|
|     S108|    3|
|     S109|    5|
|     S103|    4|
+---------+-----+

In [0]:
# Checking for duplicates

dupli_df_gs = df_gs.groupBy('SubGrp_Id','Grp_Id').count().filter('count>1')
dupli_df_gs.show()

# 'SubGrp_ID','Grp_Id

+---------+------+-----+
|SubGrp_Id|Grp_Id|count|
+---------+------+-----+
+---------+------+-----+

In [0]:
# Seems like group subgroup is clean too

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
# df_gs.write.csv("s3://sbdtestbuck/capstone_prj/cleaned_data/grpsubgrp.csv")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
# df_gs.write.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/grpsubgrp.parquet")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2351375194672867>, line 3
      1 # innerjoining the duplicated column suspected with the main dataframe without manipulating the dataframe
----> 3 df_with_duplicates = df_sb.join(duplicate_rows, ['first_name', 'last_name'], 'inner')
      4 df_with_duplicates.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2958, in DataFrame.join(self, other, on, how)
   2956         on = self._jseq([])
   2957     assert isinstance(how, str), "how should be a string"
-> 2958     jdf = self._jdf.join(other._jdf, on, how)
   2959 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:230, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 converted = convert_exception(e.java_exception)
    227 if not isinstance(converted, UnknownException):
    228     # Hide where the exception came from that shows a non-Pythonic
    229     # JVM exception message.
--> 230     raise converted from None
    231 else:
    232     raise

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `first_name` cannot be resolved on the right side of the join. The right-side columns: [`Birth_date`, `count`, `last_name`]. SQLSTATE: 42703

In [0]:
df_cl.createOrReplaceTempView("claims_table")

In [0]:
%sql
select * from claims_table;

Claim_Or_Rejected,SUB_ID,claim_amount,claim_date,claim_id,claim_type,disease_name,patient_id
N,SUBID1000,79874,1949-03-14,0,claims of value,Galactosemia,187158
NA,SUBID10001,151142,1970-03-16,1,claims of policy,Bladder cancer,112766
NA,SUBID10002,59924,2008-02-03,2,claims of value,Kidney cancer,199252
NA,SUBID10003,143120,1995-02-08,3,claims of fact,Suicide,133424
Y,SUBID10004,168634,1967-05-23,4,claims of value,Food allergy,172579
NA,SUBID10005,64840,1991-10-04,5,claims of policy,Whiplash,171320
N,SUBID1006,26800,1991-03-26,6,claims of fact,Sunbathing,107794
NA,SUBID10007,177186,1946-09-05,7,claims of value,Drug consumption,130339
N,SUBID10008,141123,1966-06-20,8,claims of fact,Dengue,110377
N,SUBID10009,88540,1945-12-29,9,claims of value,Head banging,149367
N,SUBID1010,29150,1999-01-25,10,claims of value,Fanconi anaemia,156168
Y,SUBID10011,40897,1975-02-08,11,claims of value,Breast cancer,114241
NA,SUBID10012,75983,1985-02-12,12,claims of value,Anthrax,146382
NA,SUBID10013,192340,2014-07-30,13,claims of fact,Cystic fibrosis,132748
N,SUBID10014,118628,2003-12-18,14,claims of value,Galactosemia,167340
Y,SUBID10015,100224,1986-08-02,15,claims of value,Dengue,135184
N,SUBID10016,42860,1955-01-20,16,claims of value,Smallpox,179662
N,SUBID10017,161786,2017-06-01,17,claims of policy,Pollen allergy,184479
NA,SUBID10018,66129,1956-01-04,18,claims of fact,Breast cancer,156988
NA,SUBID10019,182552,1948-07-26,19,claims of value,Glaucoma,132870
Y,SUBID1020,105982,1984-04-10,20,claims of value,Pet allergy,148137
NA,SUBID1021,55761,1953-06-24,21,claims of fact,Rett Syndrome,113280
Y,SUBID10022,34771,1948-05-23,22,claims of value,Flu,134184
N,SUBID10023,83642,1945-03-15,23,claims of value,Cholera,122592
NA,SUBID10024,49129,2013-08-04,24,claims of policy,Scurvy,154439
N,SUBID10025,36524,1976-08-24,25,claims of fact,Glaucoma,117945
NA,SUBID10026,192381,1966-08-30,26,claims of value,Measles,189996
N,SUBID10027,188520,2008-08-26,27,claims of fact,Scurvy,146540
N,SUBID10028,122806,1958-08-05,28,claims of policy,Flu,156434
NA,SUBID10029,81651,2008-02-01,29,claims of fact,Pet allergy,197352
NA,SUBID1030,19899,1976-09-08,30,claims of fact,Lymphedema,138778
N,SUBID10031,42968,1976-01-25,31,claims of fact,Alcohol consumption,162665
N,SUBID1032,191267,1988-12-18,32,claims of policy,Stroke,197503
NA,SUBID10033,161199,2019-11-17,33,claims of value,Galactosemia,113476
N,SUBID1034,26221,2008-08-10,34,claims of fact,Vertigo,195876
Y,SUBID10035,28542,1973-03-25,35,claims of value,Measles,150189
NA,SUBID1036,62985,1948-09-27,36,claims of policy,Heart Attack,138861
NA,SUBID1037,19596,1972-10-11,37,claims of policy,Phenylketonuria,146555
Y,SUBID1038,25171,1979-03-11,38,claims of fact,Phenylketonuria,199114
NA,SUBID10039,108526,1960-05-09,39,claims of fact,Head banging,105758
Y,SUBID10040,116937,1998-09-26,40,claims of value,Choking,109251
NA,SUBID1041,118452,1955-10-11,41,claims of fact,Fanconi anaemia,156223
NA,SUBID10042,188727,1989-10-28,42,claims of fact,Stroke,108576
N,SUBID1043,186502,1962-09-18,43,claims of value,Anaemia,132947
Y,SUBID1044,173600,1959-10-19,44,claims of policy,Diabetes,148674
Y,SUBID1045,160739,1952-07-29,45,claims of policy,Lymphedema,133107
N,SUBID10046,25957,2003-11-29,46,claims of fact,Phenylketonuria,193137
NA,SUBID1047,164159,1953-06-07,47,claims of value,Choking,196369
Y,SUBID10048,125727,1947-04-11,48,claims of value,Asthma,109342
NA,SUBID10049,159815,1983-06-20,49,claims of fact,Bladder cancer,121783
NA,SUBID10050,156557,1972-06-19,50,claims of policy,Lung cancer,197441
N,SUBID10051,193801,1969-02-01,51,claims of value,Colorectal cancer,194166
N,SUBID10052,130339,1959-07-22,52,claims of policy,Food Poisoning,110690
Y,SUBID10053,87588,2008-10-17,53,claims of fact,Anthrax,180709
NA,SUBID10054,27404,1965-01-09,54,claims of policy,Mold allergy,119268
Y,SUBID10055,44986,2007-06-22,55,claims of policy,Beriberi,163148
NA,SUBID10056,124734,1974-12-21,56,claims of fact,Malaria,118913
Y,SUBID10057,161497,1974-12-28,57,claims of policy,Asthma,167423
Y,SUBID1058,20770,1967-08-28,58,claims of policy,Fractures,141703
NA,SUBID10059,171729,1983-08-26,59,claims of policy,Malaria,173518
NA,SUBID10060,139755,2004-01-20,60,claims of policy,Anthrax,140394
NA,SUBID10061,74276,1991-03-16,61,claims of fact,Mold allergy,164524
Y,SUBID1062,71703,1945-10-24,62,claims of value,Head banging,198182
Y,SUBID1063,158255,2014-01-10,63,claims of policy,Drug consumption,115143
N,SUBID10064,154594,2015-07-08,64,claims of policy,Cholera,156364
Y,SUBID1065,81980,1969-05-31,65,claims of policy,Glaucoma,191132
N,SUBID10066,13667,1957-09-12,66,claims of fact,Hepatitis,105686
N,SUBID1067,109433,1944-12-25,67,claims of value,Rett Syndrome,160140
NA,SUBID10068,152901,1948-02-13,68,claims of policy,Diabetes,114252
NA,SUBID10069,99313,1994-08-25,69,claims of fact,Pet allergy,188365

# 1	Which disease has a maximum number of claims.
Disease table, claims table, joins on disease_name,
count the number of claim_id where disease_name is same in both tables

In [0]:
df_dis.createOrReplaceTempView("disease_table")

In [0]:
%sql

    SELECT
        dt.Disease_name,
        COUNT(ct.claim_id) AS claim_count
    FROM
        claims_table ct
    JOIN
        disease_table dt
    ON
        ct.disease_name = dt.Disease_name
    GROUP BY
        dt.Disease_name
    ORDER BY
        claim_count DESC
    LIMIT 5

Disease_name,claim_count
Pet allergy,3
Phenylketonuria,3
Anthrax,3
Galactosemia,3
Glaucoma,3

In [0]:
dis_max_cl =_sqldf

dis_max_cl.show()

+---------------+-----------+
|   Disease_name|claim_count|
+---------------+-----------+
|    Pet allergy|          3|
|Phenylketonuria|          3|
|        Anthrax|          3|
|   Galactosemia|          3|
|       Glaucoma|          3|
+---------------+-----------+

In [0]:
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key", "__S3_Access_Key__")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "__S3_Secret_Key__")

In [0]:
df_dmc= dis_max_cl.write.format("redshift")..option("dbtable", "capstone.dis_max_cl").option("url", "_jdbc_connector").option("user", "UserID").option("aws_iam_role", "-arn_key-").option("tempdir","s3a://sbdtestbuck/tempdir/").option("password", "_Password _ Please_").save()

# 2 Find those Subscribers having age less than 30 and they subscribe any subgroup
Subscriber table, Birth_date (calculation and < 30) Subgrp_id
Subgroup table, SubGrp_id
Joins on SubGrp_id

In [0]:
df_sb.createOrReplaceTempView("subscriber_table")
df_sg.createOrReplaceTempView("subgrp_table")

In [0]:
%sql
select * from subscriber_table

sub _id,first_name,last_name,Street,Birth_date,Gender,Phone,Country,City,Zip Code,Subgrp_id,Elig_ind,eff_date,term_date
SUBID10000,Harbir,Vishwakarma,Baria Marg,1924-06-30,Female,+91 0112009318,India,Rourkela,767058,S107,Y,1944-06-30,1954-01-14
SUBID10001,Brahmdev,Sonkar,Lala Marg,1948-12-20,Female,+91 1727749552,India,Tiruvottiyur,34639,S105,Y,1968-12-20,1970-05-16
SUBID10002,Ujjawal,Devi,Mammen Zila,1980-04-16,Male,+91 8547451606,India,Berhampur,914455,S106,N,2000-04-16,2008-05-04
SUBID10003,Ballari,Mishra,Sahni Zila,1969-09-25,Female,+91 0106026841,India,Bihar Sharif,91481,S104,N,1989-09-25,1995-06-05
SUBID10004,Devnath,Srivastav,Magar Zila,1946-05-01,Female,+91 1868774631,India,Bidhannagar,531742,S110,N,1966-05-01,1970-12-09
SUBID10005,Atasi,Seth,Khatri Nagar,1967-10-02,Male,+91 9747336855,India,Amravati,229062,S104,Y,1987-10-02,1995-02-13
SUBID1006,Manish,Maurya,Swaminathan Chowk,1967-06-06,Male,+91 4354294043,India,Panvel,438733,S109,NA,1987-06-06,1995-03-21
SUBID10007,Aakar,Yadav,Swamy,1925-03-05,Female,+91 2777633911,India,Bihar Sharif,535907,S104,N,1945-03-05,1946-11-07
SUBID10008,Gurudas,Gupta,Sarin Nagar,1945-05-06,Male,+91 1232859381,India,Kamarhati,933226,S103,Y,1965-05-06,1970-09-16
SUBID10009,NA,Gupta,Thakur Circle,1925-06-12,Male,+91 1780763280,India,Bangalore,957469,S105,Y,1945-06-12,1953-08-30
SUBID1010,NA,Divedi,Dhillon,1976-02-03,Male,+91 5586075345,India,Rajkot,911319,S102,Y,1996-02-03,2002-01-27
SUBID10011,NA,Vishwakarma,Rajagopalan,1955-01-22,Female,+91 4146391938,India,Ghaziabad,337042,S106,N,1975-01-22,1978-11-02
SUBID10012,Dharmadaas,Tiwari,Rama,1964-04-29,Male,+91 6345482027,India,Bhalswa Jahangir Pur,430793,S103,N,1984-04-29,1988-02-07
SUBID10013,Brahmvir,Rai,Shah Path,1991-11-11,Male,+91 7316972612,India,Ambala,249898,S106,N,2011-11-11,2020-05-23
SUBID10014,NA,Srivastav,Chandra Path,1981-01-25,Female,+91 2960004518,India,Surendranagar Dudhrej,111966,S102,N,2001-01-25,2005-07-13
SUBID10015,Bhagvan,Srivastav,Edwin,1966-07-24,Female,+91 0297693485,India,Bhimavaram,436513,S105,Y,1986-07-24,1988-02-04
SUBID10016,Amritkala,Srivastav,Guha Path,1933-11-20,Female,+91 0537157280,India,Meerut,863467,S106,Y,1953-11-20,1955-07-29
SUBID10017,Bandhu,Seth,Varughese,1996-10-15,Male,+91 0695289163,India,Chinsurah,136713,S108,N,2016-10-15,2018-06-08
SUBID10018,Bhagavaana,Kumar,Kulkarni Zila,1935-09-16,Female,+91 6071745855,India,Shahjahanpur,597276,S101,N,1955-09-16,1958-05-31
SUBID10019,NA,Maurya,Sharaf Nagar,1924-11-09,Female,+91 8906694405,India,Jabalpur,958538,S104,N,1944-11-09,1951-10-14
SUBID1020,Umang,Srivastav,Balay Chowk,1963-07-14,Female,+91 9485838770,India,Haridwar,181692,S109,Y,1983-07-14,1986-01-15
SUBID1021,Darsana,Yadav,Upadhyay Zila,1932-05-29,Male,+91 7676311811,India,Dibrugarh,187414,S109,Y,1952-05-29,1953-10-14
SUBID10022,Prakash,Rao,Sachar,1923-09-15,Female,+91 9268324471,India,Kottayam,180680,NA,N,1943-09-15,1948-10-19
SUBID10023,Vaijayanti,Pratap,Khalsa Nagar,1920-11-13,Male,+91 9358851649,India,Mira-Bhayandar,419190,S102,Y,1940-11-13,1946-03-10
SUBID10024,Menakshi,Seth,Wable Street,1987-03-06,Male,+91 0531676556,India,Kamarhati,882577,S107,N,2007-03-06,2014-02-25
SUBID10025,NA,Tiwari,Sha Chowk,1955-12-24,Male,+91 2416747182,India,Karimnagar,567762,S106,N,1975-12-24,1983-02-03
SUBID10026,Ekant,Sonkar,Walla Road,1943-08-13,Male,+91 7686951174,India,Berhampore,948589,S110,Y,1963-08-13,1967-05-29
SUBID10027,Chancharik,Pandey,Karan Ganj,1983-09-05,Male,+91 5309364825,India,Chapra,154667,S109,N,2003-09-05,2011-06-12
SUBID10028,Pushti,Pandit,Deol Path,1935-10-15,Female,+91 7093722203,India,Morbi,284168,S106,N,1955-10-15,1959-06-04
SUBID10029,Swati,Seth,Kant Marg,1987-12-11,Female,+91 1028477510,India,Amravati,932221,S102,N,2007-12-11,2011-10-17
SUBID1030,Upasana,Pandey,Seth Chowk,1956-06-01,Male,+91 0548234943,India,Hyderabad,234823,S102,N,1976-06-01,1981-02-14
SUBID10031,Kanhaiya,Lal,Savant Nagar,1954-10-19,Female,+91 0788738026,India,Mysore,638433,S104,Y,1974-10-19,1977-01-03
SUBID1032,NA,Seth,Sandhu Chowk,1968-07-02,Female,+91 2599794460,India,Gwalior,611826,S110,N,1988-07-02,1991-03-14
SUBID10033,Gensho,Srivastav,Korpal Ganj,1992-06-06,Male,+91 4834040556,India,Ludhiana,835018,S101,N,2012-06-06,2022-01-09
SUBID1034,Gopal,Das,Saini,1986-05-14,Male,+91 1181471524,India,Raebareli,176221,S101,N,2006-05-14,2011-04-08
SUBID10035,Dheeman,Tiwari,Dube Marg,1945-05-04,Male,+91 8239321466,India,Mysore,811970,S101,Y,1965-05-04,1973-11-13
SUBID1036,Upasana,Thakur,Vasa Ganj,1927-10-03,Female,NA,India,Ratlam,326733,S108,N,1947-10-03,1951-02-20
SUBID1037,NA,Rajput,Shere Chowk,1948-11-10,Male,+91 8390195092,India,Vadodara,877443,S101,Y,1968-11-10,1973-12-25
SUBID1038,NA,Thakur,Rastogi Street,1955-04-07,Female,+91 7434031446,India,Vijayawada,438940,S104,NA,1975-04-07,1982-01-25
SUBID10039,Madhubala,Yadav,Sangha Marg,1937-01-11,Male,+91 8498685882,India,Jaunpur,624102,S104,Y,1957-01-11,1965-10-09
SUBID10040,Anjushree,Pandey,Vora Ganj,1976-07-04,Male,+91 5322869455,India,Ghaziabad,782221,S105,N,1996-07-04,1999-02-17
SUBID1041,NA,Rajput,Sinha Path,1930-11-25,Female,NA,India,Agartala,303503,S110,Y,1950-11-25,1957-09-14
SUBID10042,Chakrika,Sonkar,Bansal Circle,1964-08-05,Male,+91 8185162879,India,Ranchi,503290,S108,Y,1984-08-05,1992-09-09
SUBID1043,Saroj,Pandit,Sathe Zila,1942-08-26,Female,+91 5690408243,India,Muzaffarpur,130486,S103,Y,1962-08-26,1964-08-29
SUBID1044,Ayushmati,Vishwakarma,Balakrishnan Street,1932-09-20,Male,+91 3683223970,India,Satna,131247,S108,N,1952-09-20,1961-01-24
SUBID1045,Drashti,Divedi,Wadhwa,1926-07-03,Male,+91 9447269993,India,Saharsa,581568,S104,Y,1946-07-03,1952-11-27
SUBID10046,Aayushmaan,Maurya,Johal Nagar,1983-11-14,Female,+91 4464709769,India,Mehsana,987281,S104,Y,2003-11-14,2012-10-22
SUBID1047,NA,Rai,Sagar Chowk,1931-02-04,Male,+91 2973105946,India,Shivpuri,794170,S109,Y,1951-02-04,1955-07-14
SUBID10048,Chitranjan,Mishra,Madan Nagar,1925-09-09,Female,+91 5176024720,India,Morbi,945697,S108,N,1945-09-09,1952-06-21
SUBID10049,Paridhi,Yadav,Sant Path,1959-03-27,Female,+91 2139280879,India,Jabalpur,883754,NA,N,1979-03-27,1985-06-01
SUBID10050,Deependu,Gupta,Banik Ganj,1952-02-13,Female,+91 5674176644,India,Bareilly,417855,S102,Y,1972-02-13,1976-08-23
SUBID10051,NA,Rajput,Chauhan Chowk,1946-10-17,Male,+91 9887324437,India,Baranagar,765234,S103,Y,1966-10-17,1969-06-26
SUBID10052,Laksman,Rao,Sood Marg,1939-05-26,Female,+91 4504120828,India,Ahmednagar,117923,S101,Y,1959-05-26,1960-11-07
SUBID10053,NA,Sonkar,Shetty Marg,1988-06-27,Male,+91 6877897646,India,Pali,383290,S102,Y,2008-06-27,2016-10-30
SUBID10054,Shivakari,Pratap,Dugar Road,1944-11-02,Female,+91 3740484063,India,Hapur,28202,S104,N,1964-11-02,1967-06-15
SUBID10055,Madhu,Thakur,Sule Marg,1984-10-23,Male,+91 8367885507,India,Udaipur,565423,S107,N,2004-10-23,2008-07-10
SUBID10056,Chanak,Gupta,Shetty Nagar,1954-08-27,Male,+91 5093121123,India,Jalandhar,602989,S105,N,1974-08-27,1982-06-15
SUBID10057,Chittesh,Pandey,Mangal Chowk,1949-10-17,Male,+91 1378163498,India,Thoothukudi,666415,S109,Y,1969-10-17,1975-10-08
SUBID1058,Nawal,Rajput,Deol Nagar,1940-01-22,Male,+91 1885105576,India,Bhopal,791168,S106,N,1960-01-22,1969-04-18
SUBID10059,Gajabahu,Singh,Kara,1959-03-15,Male,+91 1207869436,India,Udupi,637221,S101,Y,1979-03-15,1986-07-05
SUBID10060,Jitesh,Vishwakarma,Gopal Path,1983-02-03,Male,+91 6515468035,India,Karimnagar,124564,S110,Y,2003-02-03,2008-04-30
SUBID10061,NA,Rajput,Anand Path,1966-09-25,Female,+91 6477918745,India,Kharagpur,934938,S103,NA,1986-09-25,1991-06-03
SUBID1062,Lalit,Mishra,Comar Street,1924-02-15,Female,+91 4647833992,India,Tinsukia,963770,S103,N,1944-02-15,1947-09-28
SUBID1063,Anshuk,Srivastav,Sridhar Path,1991-06-17,Male,+91 9764690642,India,Uluberia,270985,S105,N,2011-06-17,2014-07-11
SUBID10064,NA,Pandey,Mangat Path,1994-01-13,Male,+91 8444537013,India,Panihati,643791,S110,N,2014-01-13,2019-02-24
SUBID1065,Dipesh,Mishra,Char Path,1949-04-01,Female,+91 5851958964,India,Kochi,31269,S103,Y,1969-04-01,1970-06-02
SUBID10066,NA,Seth,Chaudhuri Marg,1930-09-01,Male,+91 7061843400,India,Kolhapur,597470,S102,N,1950-09-01,1957-12-01
SUBID1067,Kishan,Rao,Badal Nagar,1923-05-12,Male,+91 9067652693,India,Srikakulam,703899,S110,Y,1943-05-12,1946-09-20
SUBID10068,NA,Mishra,Bath Nagar,1927-02-26,Female,+91 4984346995,India,Ambarnath,766224,S110,N,1947-02-26,1948-03-30
SUBID10069,Bhageeratha,Srivastav,Das Ganj,1973-03-21,Male,+91 0590662722,India,Sonipat,695316,S103,Y,1993-03-21,1997-08-01
SUBID10070,Balaaditya,Gupta,Varty Road,1923-11-02,Male,+91 3871269153,India,Hajipur,3526,S109,N,1943-11-02,1952-09-24
SUBID10071,NA,Rai,Choudhury Chowk,1941-12-26,Female,+91 9287216619,India,Vellore,239532,S101,N,1961-12-26,1969-02-23
SUBID10072,Gopal,Srivastav,Desai Street,1936-03-11,Female,+91 3791210190,India,Bidhannagar,761800,S103,Y,1956-03-11,1964-07-28
SUBID1073,Virender,Maurrya,Chakrabarti,1936-10-27,Male,+91 7734026802,India,Bhusawal,374302,S104,N,1956-10-27,1961-04-27
SUBID10074,NA,Singh,Kalla Path,1963-11-21,Male,+91 7881749363,India,Bokaro,866319,S105,Y,1983-11-21,1985-09-29
SUBID10075,NA,Singh,Iyengar Nagar,1956-01-29,Male,+91 6891482136,India,Navi Mumbai,836175,S107,N,1976-01-29,1979-05-25
SUBID10076,Mamta,Tiwari,Batra,1964-12-21,Female,+91 5559521919,India,Secunderabad,123181,S104,N,1984-12-21,1987-01-08
SUBID10077,Girija,Maurrya,Iyengar Road,1933-04-25,Male,+91 1811765039,India,Jaipur,204379,S105,N,1953-04-25,1963-04-18
SUBID10078,Aaraadhana,Rao,Raval Nagar,1980-02-07,Male,+91 2432610572,India,Jhansi,429941,S108,N,2000-02-07,2005-02-06
SUBID10079,Shahnawaz,Mishra,Agate Path,1971-06-24,Female,+91 4117017589,India,Rampur,528893,S102,Y,1991-06-24,2000-09-13
SUBID10080,Tej,Sonkar,Sarraf Chowk,1942-06-11,Male,+91 3450311029,India,Haridwar,506221,S105,Y,1962-06-11,1964-10-14
SUBID10081,Mansi,Divedi,Bhattacharyya Road,1947-03-20,Female,+91 1135113927,India,Hosur,995152,S105,Y,1967-03-20,1971-07-25
SUBID10082,Girika,Thakur,Sinha Zila,1968-11-03,Female,+91 5601148700,India,Hospet,683614,S102,N,1988-11-03,1992-01-21
SUBID10083,Bhilangana,Pandit,Ramachandran Path,1995-01-04,Female,+91 6653069630,India,Fatehpur,359466,S109,Y,2015-01-04,2017-10-05
SUBID10084,NA,Thakur,Raval Zila,1924-06-07,Female,+91 7367059254,India,Bhavnagar,464111,S107,Y,1944-06-07,1952-05-22
SUBID10085,Sukanya,Sonkar,Sangha Street,1942-01-16,Female,+91 5689645499,India,Vijayanagaram,226215,S101,N,1962-01-16,1967-04-10
SUBID1086,Banita,Rao,Thakur,1979-01-28,Male,+91 4743834161,India,Ghaziabad,907613,S109,N,1999-01-28,2000-09-05
SUBID1087,NA,Pandit,Srivastava Path,1924-12-10,Female,+91 9158965227,India,Sambhal,279219,S103,N,1944-12-10,1951-07-16
SUBID10088,NA,Rajput,Dua Zila,1922-07-30,Female,+91 9523946101,India,Tadipatri,743449,S110,N,1942-07-30,1949-06-07
SUBID10089,Dhuha,Tiwari,Aggarwal Street,1952-08-21,Male,+91 3188519840,India,Rampur,492137,S104,NA,1972-08-21,1981-05-13
SUBID10090,NA,Mishra,Chandran Nagar,1938-06-07,Female,+91 6869721169,India,Sikar,564747,S101,Y,1958-06-07,1967-08-23
SUBID1091,NA,Thakur,Bala,1930-12-31,Male,+91 9664169480,India,Kamarhati,682652,S110,Y,1950-12-31,1958-06-21
SUBID10092,NA,Rai,Karan Street,1940-08-22,Others,+91 7498206646,India,Ghaziabad,79586,S108,N,1960-08-22,1966-10-06
SUBID10093,Chandavarman,Singh,Sarkar Circle,1997-05-10,Others,+91 6559031791,India,Navi Mumbai,83240,S110,N,2017-05-10,2022-08-27
SUBID10094,Charanpal,Yadav,Sehgal Circle,1986-10-12,Male,+91 2196055115,India,Gurgaon,640326,S109,Y,2006-10-12,2016-05-13
SUBID10095,Ekaaksh,Rai,Bansal Ganj,1933-12-02,Others,NA,India,Pimpri-Chinchwad,158186,S107,N,1953-12-02,1960-07-29
SUBID10096,Chanak,Sonkar,Kaur,1959-04-07,Others,+91 7284540687,India,Raurkela Industrial Township,899590,S101,Y,1979-04-07,1986-03-07
SUBID10097,NA,Sonkar,Rana Ganj,1940-02-04,Others,+91 8908240160,India,Mira-Bhayandar,896586,S107,Y,1960-02-04,1965-01-12
SUBID1098,Pushkar,Kumar,Sodhi Zila,1934-10-05,Others,+91 8956368286,India,Korba,910732,S107,Y,1954-10-05,1961-04-05
SUBID10099,Shikha,Srivastav,Ahuja Road,1970-09-06,Others,+91 3042509956,India,Nanded,101500,S109,Y,1990-09-06,1997-11-27

In [0]:
%sql
select * from subgrp_table

SubGrp_id,SubGrp_Name,Monthly_Premium
S101,Deficiency Diseases,3000
S102,Accident,1000
S103,Physiology,2000
S104,Therapy,1500
S105,Allergies,2300
S106,Self inflicted,1200
S107,Cancer,3200
S108,Infectious disease,1500
S109,Hereditary,2000
S110,Viral,1000

In [0]:
%sql
SELECT
    s.sub _id,
    s.first_name,
    s.last_name,
    s.Birth_date,
    s.Subgrp_id
FROM
    subscriber_table s
JOIN
    subgrp_table sg
ON
    s.Subgrp_id = sg.SubGrp_id
WHERE
    DATEDIFF(current_date(), s.Birth_date) / 365.25 < 30

org.apache.spark.sql.catalyst.ExtendedAnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `s`.`sub` cannot be resolved. Did you mean one of the following? [`s`.`City`, `s`.`sub _id`, `s`.`Phone`, `s`.`Country`, `s`.`Gender`]. SQLSTATE: 42703; line 2 pos 4;
'Project ['s.sub AS _id#1770, first_name#981, last_name#338, Birth_date#340, Subgrp_id#1039]
+- Filter ((cast(datediff(current_date(Some(Etc/UTC)), Birth_date#340) as decimal(10,0)) / 365.25) < cast(cast(30 as decimal(2,0)) as decimal(18,6)))
   +- Join Inner, (Subgrp_id#1039 = SubGrp_id#296)
      :- SubqueryAlias s
      :  +- SubqueryAlias subscriber_table
      :     +- View (`subscriber_table`, [sub _id#336, first_name#981, last_name#338, Street#339, Birth_date#340, Gender#341, Phone#1010, Country#343, City#344, Zip Code#345, Subgrp_id#1039, Elig_ind#1068, eff_date#348, term_date#349])
      :        +- Project [sub _id#336, first_name#981, last_name#338, Street#339, Birth_date#340, Gender#341, Phone#1010, Country#343, City#344, Zip Code#345, Subgrp_id#1039, coalesce(Elig_ind#347, cast(NA as string)) AS Elig_ind#1068, eff_date#348, term_date#349]
      :           +- Project [sub _id#336, first_name#981, last_name#338, Street#339, Birth_date#340, Gender#341, Phone#1010, Country#343, City#344, Zip Code#345, coalesce(Subgrp_id#346, cast(NA as string)) AS Subgrp_id#1039, Elig_ind#347, eff_date#348, term_date#349]
      :              +- Project [sub _id#336, first_name#981, last_name#338, Street#339, Birth_date#340, Gender#341, coalesce(Phone#342, cast(NA as string)) AS Phone#1010, Country#343, City#344, Zip Code#345, Subgrp_id#346, Elig_ind#347, eff_date#348, term_date#349]
      :                 +- Project [sub _id#336, coalesce(first_name#337, cast(NA as string)) AS first_name#981, last_name#338, Street#339, Birth_date#340, Gender#341, Phone#342, Country#343, City#344, Zip Code#345, Subgrp_id#346, Elig_ind#347, eff_date#348, term_date#349]
      :                    +- Relation [sub _id#336,first_name#337,last_name#338,Street#339,Birth_date#340,Gender#341,Phone#342,Country#343,City#344,Zip Code#345,Subgrp_id#346,Elig_ind#347,eff_date#348,term_date#349] csv
      +- SubqueryAlias sg
         +- SubqueryAlias subgrp_table
            +- View (`subgrp_table`, [SubGrp_id#296, SubGrp_Name#297, Monthly_Premium#298])
               +- Relation [SubGrp_id#296,SubGrp_Name#297,Monthly_Premium#298] csv

	at org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:328)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:158)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$8(CheckAnalysis.scala:358)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$8$adapted(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:259)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:343)
	at scala.collection.immutable.Stream.foreach(Stream.scala:533)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:239)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:259)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:239)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:221)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:340)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1(CheckAnalysis.scala:209)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:176)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:176)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:340)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$2(Analyzer.scala:394)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:166)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:394)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:384)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:391)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:230)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:394)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$4(QueryExecution.scala:542)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1048)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:542)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:538)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:538)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:224)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:223)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:205)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:124)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1180)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1180)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:115)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$5(SparkSession.scala:952)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:941)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:975)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:1008)
	at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:696)
	at com.databricks.backend.daemon.driver.DriverLocal$DbClassicStrategy.executeSQLQuery(DriverLocal.scala:276)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSQLSubCommand(DriverLocal.scala:362)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$executeSql$1(DriverLocal.scala:383)
	at scala.collection.immutable.List.map(List.scala:293)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSql(DriverLocal.scala:378)
	at com.databricks.backend.daemon.driver.JupyterDriverLocal.repl(JupyterDriverLocal.scala:953)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$35(DriverLocal.scala:1097)
	at com.databricks.unity.EmptyHandle$.runWith(UCSHandle.scala:124)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$23(DriverLocal.scala:1080)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:216)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionContext(DriverLocal.scala:87)
	at com.databricks.logging.UsageLogging.withAttributionTags(UsageLogging.scala:472)
	at com.databricks.logging.UsageLogging.withAttributionTags$(UsageLogging.scala:455)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionTags(DriverLocal.scala:87)
	at com.databricks.backend.daemon.driver.DriverLocal.execute(DriverLocal.scala:1017)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$2(DriverWrapper.scala:746)
	at scala.util.Try$.apply(Try.scala:213)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$1(DriverWrapper.scala:738)
	at com.databricks.backend.daemon.driver.DriverWrapper.tryExecutingCommand(DriverWrapper.scala:766)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommandAndGetError(DriverWrapper.scala:645)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommand(DriverWrapper.scala:690)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInnerLoop(DriverWrapper.scala:516)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInner(DriverWrapper.scala:442)
	at com.databricks.backend.daemon.driver.DriverWrapper.run(DriverWrapper.scala:284)
	at java.lang.Thread.run(Thread.java:750)

In [0]:
# Run a SQL query to find the disease with the maximum number of claims
query = """
SELECT
    s.first_name,
    s.last_name,
    s.Birth_date,
    s.Subgrp_id
FROM
    subscriber_table s
JOIN
    subgrp_table sg
ON
    s.Subgrp_id = sg.SubGrp_id
WHERE
    DATEDIFF(current_date(), s.Birth_date) / 365.25 < 30
"""

result2 = spark.sql(query)

# Display the result
result2.show()

+------------+---------+----------+---------+
|  first_name|last_name|Birth_date|Subgrp_id|
+------------+---------+----------+---------+
|      Bandhu|     Seth|1996-10-15|     S108|
|  Bhilangana|   Pandit|1995-01-04|     S109|
|Chandavarman|    Singh|1997-05-10|     S110|
+------------+---------+----------+---------+

In [0]:
df_sb = df_sb.withColumnRenamed("sub _id", "sub_id")

df_sb.show()

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|    sub_id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|      NA|1987-06-06|1995-03-21|
|SUBID10007|     Aakar|      Yadav|            Swamy|1925-03-05|Female|+91 2777633911|  India|        Bihar Sharif|  535907|     S104|       N|1945-03-05|1946-11-07|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10009|        NA|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1010|        NA|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10011|        NA|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10014|        NA|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10019|        NA|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

In [0]:
df_sb.createOrReplaceTempView("subscriber_table")
df_sg.createOrReplaceTempView("subgrp_table")

In [0]:
query = """
SELECT
    s.sub_id,
    s.first_name,
    s.last_name,
    s.Birth_date,
    s.Subgrp_id
FROM
    subscriber_table s
JOIN
    subgrp_table sg
ON
    s.Subgrp_id = sg.SubGrp_id
WHERE
    DATEDIFF(current_date(), s.Birth_date) / 365.25 < 30
"""

result2 = spark.sql(query)

# Display the resul

In [0]:
result2.show()

+----------+------------+---------+----------+---------+
|    sub_id|  first_name|last_name|Birth_date|Subgrp_id|
+----------+------------+---------+----------+---------+
|SUBID10017|      Bandhu|     Seth|1996-10-15|     S108|
|SUBID10083|  Bhilangana|   Pandit|1995-01-04|     S109|
|SUBID10093|Chandavarman|    Singh|1997-05-10|     S110|
+----------+------------+---------+----------+---------+

In [0]:
df_bs= result2.write.format("redshift").option("url", "_jdbc_connector").option("user", "UserID").option("aws_iam_role", "_Your_ARN_key-").option("tempdir","s3a://sbdtestbuck/tempdir/").option("password", "_Password _ Please_").save()
.option("dbtable", "capstone.less_than_30_sbgrp")

In [0]:
df_grp.createOrReplaceTempView("group_table")
df_gs.createOrReplaceTempView("grpsubgrp_table")


df_hp.createOrReplaceTempView("hospital_table")
df_pr.createOrReplaceTempView("patient_table")

#3	Find out which group has maximum subgroups.
Grpsubgrp table, count how many times each grp_Id appears

In [0]:
query_max_subgrp = """
select
    Grp_Id,
    Count(Subgrp_id) AS Subgroup_Count
From 
    grpsubgrp_table
GROUP BY
    Grp_Id
Order BY
    Subgroup_Count DESC
LIMIT 5
"""
result_max_sbgrp = spark.sql(query_max_subgrp)

result_max_sbgrp.show()

+------+--------------+
|Grp_Id|Subgroup_Count|
+------+--------------+
|GRP104|             2|
|GRP147|             2|
|GRP143|             2|
|GRP105|             1|
|GRP108|             1|
+------+--------------+

In [0]:
result_max_sbgrp.show()

+------+--------------+
|Grp_Id|Subgroup_Count|
+------+--------------+
|GRP104|             2|
|GRP147|             2|
|GRP143|             2|
|GRP105|             1|
|GRP108|             1|
+------+--------------+

#4	Find out hospital which serve most number of patients.
Patient_records table, hospital table. Joins on hospital_id (Hospital_id). First count the sum of Patient_id per hospital_id, then get the name ‘Hospital_name’ associated with ‘Hospital_id’.

In [0]:
hspt_max_pt = """
SELECT
    h.Hospital_id,
    h.Hospital_name,
    COUNT(p.Patient_id) AS Total_Patients
FROM
    patient_table p
JOIN
    hospital_table h
ON
    p.hospital_id = h.Hospital_id
GROUP BY
    h.Hospital_id, h.Hospital_name
ORDER BY
    Total_Patients DESC
LIMIT 6
"""

hspt_with_most_pt = spark.sql(hspt_max_pt)

hspt_with_most_pt.show()

+-----------+--------------------+--------------+
|Hospital_id|       Hospital_name|Total_Patients|
+-----------+--------------------+--------------+
|      H1017|   Manipal Hospitals|             9|
|      H1019|Apollo Hospitals ...|             8|
|      H1001|Medanta The Medicity|             7|
|      H1016|Jaslok Hospital a...|             6|
|      H1009|Indraprastha Apol...|             5|
|      H1003|PGIMER - Postgrad...|             4|
+-----------+--------------------+--------------+

In [0]:
df_cl.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
df = spark.read.parquet("s3://sbdtestbuck/capstone_prj/cleaned_data/disease.parquet/")

df.show()

+--------+-----------+--------------------+
|SubGrpID| Disease_ID|        Disease_name|
+--------+-----------+--------------------+
|    S101|     110001|            Beriberi|
|    S101|     110002|              Scurvy|
|    S101|     110003|              Goitre|
|    S101|     110004|        Osteoporosis|
|    S101|     110005|             Rickets|
|    S101|     110006|             Anaemia|
|    S102|     110007|           Fractures|
|    S102|     110008|        Heart Attack|
|    S102|     110009|               Burns|
|    S102|     110010|             Choking|
|    S102|     110011|              Stroke|
|    S102|     110012|      Food Poisoning|
|    S103|     110013|              Asthma|
|    S103|     110014|            Glaucoma|
|    S103|     110015|            Diabetes|
|    S103|     110016|             Amnesia|
|    S103|     110017|         Parasomnias|
|    S103|     110018|Neurocognitive di...|
|    S104|     110019|             Vertigo|
|    S104|     110020|          Lymphedema|
+--------+-----------+--------------------+
only showing top 20 rows

In [0]:
print('Hello')

Hello

#4	Find out which subgroups subscribe most number of times.
subgroup table, subscriber table. Joins on Subgrp_id. Get the subGrp_id, SubGrp_Name, and sub_id, Birth_date

In [0]:
sb_most = """
SELECT
    sg.SubGrp_id,
    sg.SubGrp_Name,
    s.sub_id,
    s.Birth_date,
    COUNT(s.sub_id) AS Subscription_Count
FROM
    subgrp_table sg
JOIN
    subscriber_table s
ON
    sg.SubGrp_id = s.Subgrp_id
GROUP BY
    sg.SubGrp_id, sg.SubGrp_Name, s.sub_id, s.Birth_date
ORDER BY
    sg.SubGrp_id, Subscription_Count DESC

LIMIT 10
"""

df_123 = spark.sql(sb_most)

df_123.show()

+---------+-------------------+----------+----------+------------------+
|SubGrp_id|        SubGrp_Name|    sub_id|Birth_date|Subscription_Count|
+---------+-------------------+----------+----------+------------------+
|     S101|Deficiency Diseases|SUBID10096|1959-04-07|                 1|
|     S101|Deficiency Diseases|SUBID10035|1945-05-04|                 1|
|     S101|Deficiency Diseases|SUBID10033|1992-06-06|                 1|
|     S101|Deficiency Diseases| SUBID1034|1986-05-14|                 1|
|     S101|Deficiency Diseases| SUBID1037|1948-11-10|                 1|
|     S101|Deficiency Diseases|SUBID10085|1942-01-16|                 1|
|     S101|Deficiency Diseases|SUBID10059|1959-03-15|                 1|
|     S101|Deficiency Diseases|SUBID10018|1935-09-16|                 1|
|     S101|Deficiency Diseases|SUBID10090|1938-06-07|                 1|
|     S101|Deficiency Diseases|SUBID10071|1941-12-26|                 1|
+---------+-------------------+----------+----------+------------------+

In [0]:
sb_most="""
SELECT
    sg.SubGrp_id,
    sg.SubGrp_Name,
    COUNT(s.sub_id) AS Subscription_Count
FROM
    subgrp_table sg
JOIN
    subscriber_table s
ON
    sg.SubGrp_id = s.Subgrp_id
GROUP BY
    sg.SubGrp_id, sg.SubGrp_Name
ORDER BY
    Subscription_Count DESC
LIMIT 10;
"""

df123 = spark.sql(sb_most)

df123.show()

+---------+-------------------+------------------+
|SubGrp_id|        SubGrp_Name|Subscription_Count|
+---------+-------------------+------------------+
|     S104|            Therapy|                13|
|     S109|         Hereditary|                11|
|     S110|              Viral|                11|
|     S101|Deficiency Diseases|                11|
|     S105|          Allergies|                10|
|     S103|         Physiology|                10|
|     S102|           Accident|                10|
|     S107|             Cancer|                 8|
|     S108| Infectious disease|                 7|
|     S106|     Self inflicted|                 7|
+---------+-------------------+------------------+

#6	Find out total number of claims which were rejected
claims table; sum of N in ‘Claim_Or_Rejected’ column.
claims table; sum of N in ‘Claim_Or_Rejected’ column.

In [0]:
%sql
SELECT
    COUNT(*) AS Total_Rejected_Claims
FROM
    claims_table
WHERE
    Claim_Or_Rejected = 'N';

Total_Rejected_Claims
22

In [0]:
df234="""
SELECT
    COUNT(*) AS Total_Rejected_Claims
FROM
    claims_table
WHERE
    Claim_Or_Rejected = 'N';

"""
df987 = spark.sql(df234)

df987.show()

+---------------------+
|Total_Rejected_Claims|
+---------------------+
|                   22|
+---------------------+

# 7 ●	From where most claims are coming (city)
claims table, subscriber table, joins on SUB_ID(sub_id), get the unique count of city and sum how many times they appear in subscriber table.

In [0]:
df44="""

SELECT
    s.city,
    COUNT(s.sub_id) AS Subscribers,
    COUNT(s.city) AS Total_Appearances_In_Claims
FROM
    subscriber_table s
JOIN
    claims_table c
ON
    s.sub_id = c.SUB_ID
GROUP BY
    s.city
ORDER BY
    Subscribers DESC, Total_Appearances_In_Claims
LIMIT 5;
"""

df45 = spark.sql(df44)

df45.show()

+------------+-----------+---------------------------+
|        city|Subscribers|Total_Appearances_In_Claims|
+------------+-----------+---------------------------+
|      Mysore|          2|                          2|
|Bihar Sharif|          2|                          2|
|    Amravati|          2|                          2|
|   Kamarhati|          2|                          2|
|    Jabalpur|          2|                          2|
+------------+-----------+---------------------------+

In [0]:
%sql
SELECT
    city,
    COUNT(*) AS City_Appearances
FROM
    subscriber_table
GROUP BY
    city
ORDER BY
    City_Appearances DESC
LIMIT 10;

city,City_Appearances
Ghaziabad,4
Kamarhati,3
Amravati,2
Navi Mumbai,2
Jabalpur,2
Mysore,2
Haridwar,2
Karimnagar,2
Bihar Sharif,2
Morbi,2

# 8 Which groups of policies subscriber subscribe mostly Government or private (group type)
Grp_ID
group table, grpsubgrp table, joins on Grp_Id
subscriber table, grpsubgrp table, joins on Subgrp_id (SubGrp_ID)
find out which sub_id belongs to which SubGrp_ID map those SubGrp_ID to Grp_Id
Map the Grp_Id to Grp_Type.

In [0]:
%sql
WITH SubscribersWithGroups AS (
    SELECT
        s.sub_id,
        gsg.SubGrp_ID,
        gt.Grp_Id,
        gt.Grp_Type
    FROM
        subscriber_table s
    JOIN
        grpsubgrp_table gsg
    ON
        s.Subgrp_id = gsg.SubGrp_ID
    JOIN
        group_table gt
    ON
        gsg.Grp_Id = gt.Grp_Id
)

SELECT
    Grp_Id,
    Grp_Type,
    COUNT(DISTINCT sub_id) AS Unique_Subscribers
FROM
    SubscribersWithGroups
GROUP BY
    Grp_Id, Grp_Type
ORDER BY
    Unique_Subscribers DESC
LIMIT 15;

Grp_Id,Grp_Type,Unique_Subscribers
GRP143,Private,24
GRP147,Private,18
GRP104,Private,17
GRP103,Private,13
GRP133,Private,13
GRP123,Private,13
GRP113,Private,13
GRP142,Private,11
GRP105,Private,11
GRP102,Private,11
GRP126,Private,11
GRP152,Private,11
GRP112,Private,11
GRP132,Private,11
GRP101,Govt.,11

In [0]:
df56 = """
WITH SubscribersWithGroups AS (
    SELECT
        s.sub_id,
        gsg.SubGrp_ID,
        gt.Grp_Id,
        gt.Grp_Type
    FROM
        subscriber_table s
    JOIN
        grpsubgrp_table gsg
    ON
        s.Subgrp_id = gsg.SubGrp_ID
    JOIN
        group_table gt
    ON
        gsg.Grp_Id = gt.Grp_Id
)

SELECT
    Grp_Id,
    Grp_Type,
    COUNT(DISTINCT sub_id) AS Unique_Subscribers
FROM
    SubscribersWithGroups
GROUP BY
    Grp_Id, Grp_Type
ORDER BY
    Unique_Subscribers DESC
LIMIT 10;
"""

df78 = spark.sql(df56)

df78.show()

+------+--------+------------------+
|Grp_Id|Grp_Type|Unique_Subscribers|
+------+--------+------------------+
|GRP143| Private|                24|
|GRP147| Private|                18|
|GRP104| Private|                17|
|GRP123| Private|                13|
|GRP133| Private|                13|
|GRP103| Private|                13|
|GRP113| Private|                13|
|GRP105| Private|                11|
|GRP142| Private|                11|
|GRP102| Private|                11|
+------+--------+------------------+

#9 Average monthly premium subscriber pay to insurance company.
a.	subgroup table, subscriber table, joins on SubGrp_id (Subgrp_id) 
b.	sum the count of sub_id 
c.	divide by the total Monthly_Premium

In [0]:
%sql
WITH SubscribersWithPremium AS (
    SELECT
        st.Subgrp_id,
        st.sub_id,
        sg.Monthly_Premium
    FROM
        subscriber_table st
    JOIN
        subgrp_table sg
    ON
        st.Subgrp_id = sg.SubGrp_id
)

SELECT
    AVG(Monthly_Premium) AS Average_Monthly_Premium
FROM
    SubscribersWithPremium;

Average_Monthly_Premium
1867.3469387755101

In [0]:
dfpr ="""

WITH SubscribersWithPremium AS (
    SELECT
        st.Subgrp_id,
        st.sub_id,
        sg.Monthly_Premium
    FROM
        subscriber_table st
    JOIN
        subgrp_table sg
    ON
        st.Subgrp_id = sg.SubGrp_id
)

SELECT
    AVG(Monthly_Premium) AS Average_Monthly_Premium
FROM
    SubscribersWithPremium;

"""

df_pr = spark.sql(dfpr)

df_pr.show()

+-----------------------+
|Average_Monthly_Premium|
+-----------------------+
|     1867.3469387755101|
+-----------------------+

#10.	Find out Which group is most profitable
a.	List the SubGrp_id and then sum the Monthly_Premium related to the respective SubGrp_id.
b.	The SubGrp_id paying the most Monthly_Premium is the most profitable.

In [0]:
%sql
SELECT
    SubGrp_id,
    SUM(Monthly_Premium) AS Total_Monthly_Premium
FROM
    subgrp_table
GROUP BY
    SubGrp_id
ORDER BY
    Total_Monthly_Premium DESC
LIMIT 5;

SubGrp_id,Total_Monthly_Premium
S107,3200
S101,3000
S105,2300
S109,2000
S103,2000

In [0]:
df_nb = """
SELECT
    SubGrp_id,
    SUM(Monthly_Premium) AS Total_Monthly_Premium
FROM
    subgrp_table
GROUP BY
    SubGrp_id
ORDER BY
    Total_Monthly_Premium DESC
LIMIT 5;
"""

df235 = spark.sql(df_nb)
df235.show()

+---------+---------------------+
|SubGrp_id|Total_Monthly_Premium|
+---------+---------------------+
|     S107|                 3200|
|     S101|                 3000|
|     S105|                 2300|
|     S109|                 2000|
|     S103|                 2000|
+---------+---------------------+

#10	List all the patients below age of 18 who admit for cancer.
a.	Patient_records table, calculate age based on birth_date ( age < 18 and disease =’cancer’)

In [0]:
%sql
SELECT
    Patient_id,
    Patient_name,
    patient_birth_date,
    disease_name
FROM
    patient_table
WHERE
    DATEDIFF(current_date(), patient_birth_date) / 365.25 < 18
    AND disease_name = 'cancer';

In [0]:
%sql
SELECT
    Patient_id,
    Patient_name,
    patient_birth_date,
    disease_name
FROM
    patient_table
WHERE
    YEAR(patient_birth_date) BETWEEN 2000 AND YEAR(current_date())
    AND disease_name = 'cancer';

In [0]:
%sql
select * from patient_table;

Patient_id,Patient_name,patient_gender,patient_birth_date,patient_phone,disease_name,city,hospital_id
187158,Harbir,Female,1924-06-30,+91 0112009318,Galactosemia,Rourkela,H1001
112766,Brahmdev,Female,1948-12-20,+91 1727749552,Bladder cancer,Tiruvottiyur,H1016
199252,Ujjawal,Male,1980-04-16,+91 8547451606,Kidney cancer,Berhampur,H1009
133424,Ballari,Female,1969-09-25,+91 0106026841,Suicide,Bihar Sharif,H1017
172579,Devnath,Female,1946-05-01,+91 1868774631,Food allergy,Bidhannagar,H1019
171320,Atasi,Male,1967-10-02,+91 9747336855,Whiplash,Amravati,H1013
107794,Manish,Male,1967-06-06,+91 4354294043,Sunbathing,Panvel,H1004
130339,Aakar,Female,1925-03-05,+91 2777633911,Drug consumption,Bihar Sharif,H1000
110377,Gurudas,Male,1945-05-06,+91 1232859381,Dengue,Kamarhati,H1001
149367,NA,Male,1925-06-12,+91 1780763280,Head banging,Bangalore,H1013
156168,NA,Male,1976-02-03,+91 5586075345,Fanconi anaemia,Rajkot,H1004
114241,NA,Female,1955-01-22,+91 4146391938,Breast cancer,Ghaziabad,H1015
146382,Dharmadaas,Male,1964-04-29,+91 6345482027,Anthrax,Bhalswa Jahangir Pur,H1019
132748,Brahmvir,Male,1991-11-11,+91 7316972612,Cystic fibrosis,Ambala,H1018
167340,NA,Female,1981-01-25,+91 2960004518,Galactosemia,Surendranagar Dudhrej,H1003
135184,Bhagvan,Female,1966-07-24,+91 0297693485,Dengue,Bhimavaram,H1018
179662,Amritkala,Female,1933-11-20,+91 0537157280,Smallpox,Meerut,H1018
184479,Bandhu,Male,1996-10-15,+91 0695289163,Pollen allergy,Chinsurah,H1010
156988,Bhagavaana,Female,1935-09-16,+91 6071745855,Breast cancer,Shahjahanpur,H1012
132870,NA,Female,1924-11-09,+91 8906694405,Glaucoma,Jabalpur,H1017
148137,Umang,Female,1963-07-14,+91 9485838770,Pet allergy,Haridwar,H1002
113280,Darsana,Male,1932-05-29,+91 7676311811,Rett Syndrome,Dibrugarh,H1019
134184,Prakash,Female,1923-09-15,+91 9268324471,Flu,Kottayam,H1001
122592,Vaijayanti,Male,1920-11-13,+91 9358851649,Cholera,Mira-Bhayandar,H1009
154439,Menakshi,Male,1987-03-06,+91 0531676556,Scurvy,Kamarhati,H1016
117945,NA,Male,1955-12-24,+91 2416747182,Glaucoma,Karimnagar,H1009
189996,Ekant,Male,1943-08-13,+91 7686951174,Measles,Berhampore,H1003
146540,Chancharik,Male,1983-09-05,+91 5309364825,Scurvy,Chapra,H1012
156434,Pushti,Female,1935-10-15,+91 7093722203,Flu,Morbi,H1019
197352,Swati,Female,1987-12-11,+91 1028477510,Pet allergy,Amravati,H1019
138778,Upasana,Male,1956-06-01,+91 0548234943,Lymphedema,Hyderabad,H1005
162665,Kanhaiya,Female,1954-10-19,+91 0788738026,Alcohol consumption,Mysore,H1009
197503,NA,Female,1968-07-02,+91 2599794460,Stroke,Gwalior,H1009
113476,Gensho,Male,1992-06-06,+91 4834040556,Galactosemia,Ludhiana,H1016
195876,Gopal,Male,1986-05-14,+91 1181471524,Vertigo,Raebareli,H1017
150189,Dheeman,Male,1945-05-04,+91 8239321466,Measles,Mysore,H1017
138861,Upasana,Female,1927-10-03,null,Heart Attack,Ratlam,H1004
146555,NA,Male,1948-11-10,+91 8390195092,Phenylketonuria,Vadodara,H1007
199114,NA,Female,1955-04-07,+91 7434031446,Phenylketonuria,Vijayawada,H1017
105758,Madhubala,Male,1937-01-11,+91 8498685882,Head banging,Jaunpur,H1003
109251,Anjushree,Male,1976-07-04,+91 5322869455,Choking,Ghaziabad,H1001
156223,NA,Female,1930-11-25,null,Fanconi anaemia,Agartala,H1012
108576,Chakrika,Male,1964-08-05,+91 8185162879,Stroke,Ranchi,H1003
132947,Saroj,Female,1942-08-26,+91 5690408243,Anaemia,Muzaffarpur,H1016
148674,Ayushmati,Male,1932-09-20,+91 3683223970,Diabetes,Satna,H1016
133107,Drashti,Male,1926-07-03,+91 9447269993,Lymphedema,Saharsa,H1019
193137,Aayushmaan,Female,1983-11-14,+91 4464709769,Phenylketonuria,Mehsana,H1014
196369,NA,Male,1931-02-04,+91 2973105946,Choking,Shivpuri,H1017
109342,Chitranjan,Female,1925-09-09,+91 5176024720,Asthma,Morbi,H1011
121783,Paridhi,Female,1959-03-27,+91 2139280879,Bladder cancer,Jabalpur,H1013
197441,Deependu,Female,1952-02-13,+91 5674176644,Lung cancer,Bareilly,H1001
194166,NA,Male,1946-10-17,+91 9887324437,Colorectal cancer,Baranagar,H1015
110690,Laksman,Female,1939-05-26,+91 4504120828,Food Poisoning,Ahmednagar,H1001
180709,NA,Male,1988-06-27,+91 6877897646,Anthrax,Pali,H1017
119268,Shivakari,Female,1944-11-02,+91 3740484063,Mold allergy,Hapur,H1008
163148,Madhu,Male,1984-10-23,+91 8367885507,Beriberi,Udaipur,H1008
118913,Chanak,Male,1954-08-27,+91 5093121123,Malaria,Jalandhar,H1004
167423,Chittesh,Male,1949-10-17,+91 1378163498,Asthma,Thoothukudi,H1019
141703,Nawal,Male,1940-01-22,+91 1885105576,Fractures,Bhopal,H1006
173518,Gajabahu,Male,1959-03-15,+91 1207869436,Malaria,Udupi,H1015
140394,Jitesh,Male,1983-02-03,+91 6515468035,Anthrax,Karimnagar,H1010
164524,NA,Female,1966-09-25,+91 6477918745,Mold allergy,Kharagpur,H1015
198182,Lalit,Female,1924-02-15,+91 4647833992,Head banging,Tinsukia,H1017
115143,Anshuk,Male,1991-06-17,+91 9764690642,Drug consumption,Uluberia,H1001
156364,NA,Male,1994-01-13,+91 8444537013,Cholera,Panihati,H1019
191132,Dipesh,Female,1949-04-01,+91 5851958964,Glaucoma,Kochi,H1016
105686,NA,Male,1930-09-01,+91 7061843400,Hepatitis,Kolhapur,H1008
160140,Kishan,Male,1923-05-12,+91 9067652693,Rett Syndrome,Srikakulam,H1002
114252,NA,Female,1927-02-26,+91 4984346995,Diabetes,Ambarnath,H1014
188365,Bhageeratha,Male,1973-03-21,+91 0590662722,Pet allergy,Sonipat,H1017

In [0]:
%sql
SELECT
    *
FROM
    patient_table
WHERE
    disease_name like '%cancer'
LIMIT 50;

Patient_id,Patient_name,patient_gender,patient_birth_date,patient_phone,disease_name,city,hospital_id
112766,Brahmdev,Female,1948-12-20,+91 1727749552,Bladder cancer,Tiruvottiyur,H1016
199252,Ujjawal,Male,1980-04-16,+91 8547451606,Kidney cancer,Berhampur,H1009
114241,NA,Female,1955-01-22,+91 4146391938,Breast cancer,Ghaziabad,H1015
156988,Bhagavaana,Female,1935-09-16,+91 6071745855,Breast cancer,Shahjahanpur,H1012
121783,Paridhi,Female,1959-03-27,+91 2139280879,Bladder cancer,Jabalpur,H1013
197441,Deependu,Female,1952-02-13,+91 5674176644,Lung cancer,Bareilly,H1001
194166,NA,Male,1946-10-17,+91 9887324437,Colorectal cancer,Baranagar,H1015

# 12.	List patients who have cashless insurance and have total charges greater than or equal for Rs. 50,000.
a.	Claims table, claim_type
b.	Patient_records table

In [0]:
%sql
SELECT
    Patient_id,
    Patient_name,
    Total_Charges
FROM
    (
        SELECT
            pt.Patient_id,
            pt.Patient_name,
            SUM(ct.claim_amount) AS Total_Charges
        FROM
            patient_table pt
        JOIN
            claims_table ct
        ON
            pt.Patient_id = ct.patient_id
        WHERE
            ct.Elig_ind = 'cashless'
        GROUP BY
            pt.Patient_id, pt.Patient_name
    ) AS PatientCharges
WHERE
    Total_Charges >= 50000;

org.apache.spark.sql.catalyst.ExtendedAnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `ct`.`Elig_ind` cannot be resolved. Did you mean one of the following? [`ct`.`claim_id`, `ct`.`SUB_ID`, `pt`.`city`, `ct`.`claim_date`, `ct`.`claim_type`]. SQLSTATE: 42703; line 18 pos 12;
'Project ['Patient_id, 'Patient_name, 'Total_Charges]
+- 'Filter ('Total_Charges >= 50000)
   +- 'SubqueryAlias PatientCharges
      +- 'Aggregate ['pt.Patient_id, 'pt.Patient_name], ['pt.Patient_id, 'pt.Patient_name, 'SUM('ct.claim_amount) AS Total_Charges#4326]
         +- 'Filter ('ct.Elig_ind = cashless)
            +- Join Inner, (cast(Patient_id#221 as bigint) = patient_id#451L)
               :- SubqueryAlias pt
               :  +- SubqueryAlias patient_table
               :     +- View (`patient_table`, [Patient_id#221, Patient_name#591, patient_gender#223, patient_birth_date#224, patient_phone#225, disease_name#226, city#227, hospital_id#228])
               :        +- Project [Patient_id#221, coalesce(Patient_name#222, cast(NA as string)) AS Patient_name#591, patient_gender#223, patient_birth_date#224, patient_phone#225, disease_name#226, city#227, hospital_id#228]
               :           +- Relation [Patient_id#221,Patient_name#222,patient_gender#223,patient_birth_date#224,patient_phone#225,disease_name#226,city#227,hospital_id#228] csv
               +- SubqueryAlias ct
                  +- SubqueryAlias claims_table
                     +- View (`claims_table`, [Claim_Or_Rejected#1314, SUB_ID#445, claim_amount#446, claim_date#447, claim_id#448L, claim_type#449, disease_name#450, patient_id#451L])
                        +- Project [CASE WHEN (Claim_Or_Rejected#444 = NaN) THEN NA ELSE Claim_Or_Rejected#444 END AS Claim_Or_Rejected#1314, SUB_ID#445, claim_amount#446, claim_date#447, claim_id#448L, claim_type#449, disease_name#450, patient_id#451L]
                           +- Relation [Claim_Or_Rejected#444,SUB_ID#445,claim_amount#446,claim_date#447,claim_id#448L,claim_type#449,disease_name#450,patient_id#451L] json

	at org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:328)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:158)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$8(CheckAnalysis.scala:358)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$8$adapted(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:259)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:343)
	at scala.collection.immutable.Stream.foreach(Stream.scala:533)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:343)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:239)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:259)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:258)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:258)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:239)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:221)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:340)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1(CheckAnalysis.scala:209)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:176)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:176)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:340)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$2(Analyzer.scala:394)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:166)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:394)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:384)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:391)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:230)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:394)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$4(QueryExecution.scala:542)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1048)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:542)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:538)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:538)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:224)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:223)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:205)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:124)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1180)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1180)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:115)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$5(SparkSession.scala:952)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1173)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:941)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:975)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:1008)
	at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:696)
	at com.databricks.backend.daemon.driver.DriverLocal$DbClassicStrategy.executeSQLQuery(DriverLocal.scala:276)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSQLSubCommand(DriverLocal.scala:362)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$executeSql$1(DriverLocal.scala:383)
	at scala.collection.immutable.List.map(List.scala:293)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSql(DriverLocal.scala:378)
	at com.databricks.backend.daemon.driver.JupyterDriverLocal.repl(JupyterDriverLocal.scala:953)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$35(DriverLocal.scala:1097)
	at com.databricks.unity.EmptyHandle$.runWith(UCSHandle.scala:124)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$23(DriverLocal.scala:1080)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:216)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionContext(DriverLocal.scala:87)
	at com.databricks.logging.UsageLogging.withAttributionTags(UsageLogging.scala:472)
	at com.databricks.logging.UsageLogging.withAttributionTags$(UsageLogging.scala:455)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionTags(DriverLocal.scala:87)
	at com.databricks.backend.daemon.driver.DriverLocal.execute(DriverLocal.scala:1017)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$2(DriverWrapper.scala:746)
	at scala.util.Try$.apply(Try.scala:213)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$1(DriverWrapper.scala:738)
	at com.databricks.backend.daemon.driver.DriverWrapper.tryExecutingCommand(DriverWrapper.scala:766)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommandAndGetError(DriverWrapper.scala:645)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommand(DriverWrapper.scala:690)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInnerLoop(DriverWrapper.scala:516)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInner(DriverWrapper.scala:442)
	at com.databricks.backend.daemon.driver.DriverWrapper.run(DriverWrapper.scala:284)
	at java.lang.Thread.run(Thread.java:750)

In [0]:
df_cl.show()

+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|Claim_Or_Rejected|    SUB_ID|claim_amount|claim_date|claim_id|      claim_type|    disease_name|patient_id|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
|                N| SUBID1000|       79874|1949-03-14|       0| claims of value|    Galactosemia|    187158|
|               NA|SUBID10001|      151142|1970-03-16|       1|claims of policy|  Bladder cancer|    112766|
|               NA|SUBID10002|       59924|2008-02-03|       2| claims of value|   Kidney cancer|    199252|
|               NA|SUBID10003|      143120|1995-02-08|       3|  claims of fact|         Suicide|    133424|
|                Y|SUBID10004|      168634|1967-05-23|       4| claims of value|    Food allergy|    172579|
|               NA|SUBID10005|       64840|1991-10-04|       5|claims of policy|        Whiplash|    171320|
|                N| SUBID1006|       26800|1991-03-26|       6|  claims of fact|      Sunbathing|    107794|
|               NA|SUBID10007|      177186|1946-09-05|       7| claims of value|Drug consumption|    130339|
|                N|SUBID10008|      141123|1966-06-20|       8|  claims of fact|          Dengue|    110377|
|                N|SUBID10009|       88540|1945-12-29|       9| claims of value|    Head banging|    149367|
|                N| SUBID1010|       29150|1999-01-25|      10| claims of value| Fanconi anaemia|    156168|
|                Y|SUBID10011|       40897|1975-02-08|      11| claims of value|   Breast cancer|    114241|
|               NA|SUBID10012|       75983|1985-02-12|      12| claims of value|         Anthrax|    146382|
|               NA|SUBID10013|      192340|2014-07-30|      13|  claims of fact| Cystic fibrosis|    132748|
|                N|SUBID10014|      118628|2003-12-18|      14| claims of value|    Galactosemia|    167340|
|                Y|SUBID10015|      100224|1986-08-02|      15| claims of value|          Dengue|    135184|
|                N|SUBID10016|       42860|1955-01-20|      16| claims of value|        Smallpox|    179662|
|                N|SUBID10017|      161786|2017-06-01|      17|claims of policy|  Pollen allergy|    184479|
|               NA|SUBID10018|       66129|1956-01-04|      18|  claims of fact|   Breast cancer|    156988|
|               NA|SUBID10019|      182552|1948-07-26|      19| claims of value|        Glaucoma|    132870|
+-----------------+----------+------------+----------+--------+----------------+----------------+----------+
only showing top 20 rows

In [0]:
%sql
SELECT DISTINCT claim_type FROM claims_table;

claim_type
claims of value
claims of fact
claims of policy

In [0]:
%sql
SELECT
    s.sub_id,
    s.first_name,
    s.last_name,
    SUM(ct.claim_amount) AS Total_Claim_Amount
FROM
    subscriber_table s
JOIN
    claims_table ct
ON
    s.sub_id = ct.SUB_ID
WHERE
    s.Elig_ind = 'Y'
GROUP BY
    s.sub_id, s.first_name, s.last_name
HAVING
    Total_Claim_Amount >= 50000;

sub_id,first_name,last_name,Total_Claim_Amount
SUBID10057,Chittesh,Pandey,161497.0
SUBID1021,Darsana,Yadav,55761.0
SUBID10015,Bhagvan,Srivastav,100224.0
SUBID10039,Madhubala,Yadav,108526.0
SUBID10001,Brahmdev,Sonkar,151142.0
SUBID1043,Saroj,Pandit,186502.0
SUBID10005,Atasi,Seth,64840.0
SUBID10059,Gajabahu,Singh,171729.0
SUBID10051,NA,Rajput,193801.0
SUBID10009,NA,Gupta,88540.0
SUBID1045,Drashti,Divedi,160739.0
SUBID10050,Deependu,Gupta,156557.0
SUBID1065,Dipesh,Mishra,81980.0
SUBID10042,Chakrika,Sonkar,188727.0
SUBID10069,Bhageeratha,Srivastav,99313.0
SUBID1041,NA,Rajput,118452.0
SUBID10053,NA,Sonkar,87588.0
SUBID10052,Laksman,Rao,130339.0
SUBID10008,Gurudas,Gupta,141123.0
SUBID10023,Vaijayanti,Pratap,83642.0
SUBID10026,Ekant,Sonkar,192381.0
SUBID1067,Kishan,Rao,109433.0
SUBID1047,NA,Rai,164159.0
SUBID1020,Umang,Srivastav,105982.0
SUBID10060,Jitesh,Vishwakarma,139755.0

In [0]:
%sql
SELECT
    s.sub_id,
    pt.Patient_id,
    s.first_name,
    s.last_name,
    SUM(ct.claim_amount) AS Total_Claim_Amount
FROM
    subscriber_table s
JOIN
    claims_table ct
ON
    s.sub_id = ct.SUB_ID
JOIN
    patient_table pt
ON
    ct.patient_id = pt.Patient_id
WHERE
    s.Elig_ind = 'Y'
GROUP BY
    s.sub_id, s.first_name, s.last_name, pt.Patient_id
HAVING
    Total_Claim_Amount >= 50000;

sub_id,Patient_id,first_name,last_name,Total_Claim_Amount
SUBID1021,113280,Darsana,Yadav,55761.0
SUBID10005,171320,Atasi,Seth,64840.0
SUBID1045,133107,Drashti,Divedi,160739.0
SUBID10015,135184,Bhagvan,Srivastav,100224.0
SUBID10023,122592,Vaijayanti,Pratap,83642.0
SUBID1041,156223,NA,Rajput,118452.0
SUBID10059,173518,Gajabahu,Singh,171729.0
SUBID10053,180709,NA,Sonkar,87588.0
SUBID10039,105758,Madhubala,Yadav,108526.0
SUBID10008,110377,Gurudas,Gupta,141123.0
SUBID10001,112766,Brahmdev,Sonkar,151142.0
SUBID1043,132947,Saroj,Pandit,186502.0
SUBID1065,191132,Dipesh,Mishra,81980.0
SUBID10057,167423,Chittesh,Pandey,161497.0
SUBID10069,188365,Bhageeratha,Srivastav,99313.0
SUBID10060,140394,Jitesh,Vishwakarma,139755.0
SUBID10051,194166,NA,Rajput,193801.0
SUBID10050,197441,Deependu,Gupta,156557.0
SUBID1020,148137,Umang,Srivastav,105982.0
SUBID10026,189996,Ekant,Sonkar,192381.0
SUBID10042,108576,Chakrika,Sonkar,188727.0
SUBID1047,196369,NA,Rai,164159.0
SUBID1067,160140,Kishan,Rao,109433.0
SUBID10052,110690,Laksman,Rao,130339.0
SUBID10009,149367,NA,Gupta,88540.0

In [0]:
df_50 ="""
SELECT
    s.sub_id,
    pt.Patient_id,
    s.first_name,
    s.last_name,
    SUM(ct.claim_amount) AS Total_Claim_Amount
FROM
    subscriber_table s
JOIN
    claims_table ct
ON
    s.sub_id = ct.SUB_ID
JOIN
    patient_table pt
ON
    ct.patient_id = pt.Patient_id
WHERE
    s.Elig_ind = 'Y'
GROUP BY
    s.sub_id, s.first_name, s.last_name, pt.Patient_id
HAVING
    Total_Claim_Amount >= 50000;

"""

df51 = spark.sql(df_50)

df51.show()

+----------+----------+-----------+-----------+------------------+
|    sub_id|Patient_id| first_name|  last_name|Total_Claim_Amount|
+----------+----------+-----------+-----------+------------------+
| SUBID1021|    113280|    Darsana|      Yadav|           55761.0|
|SUBID10005|    171320|      Atasi|       Seth|           64840.0|
| SUBID1045|    133107|    Drashti|     Divedi|          160739.0|
|SUBID10015|    135184|    Bhagvan|  Srivastav|          100224.0|
|SUBID10023|    122592| Vaijayanti|     Pratap|           83642.0|
| SUBID1041|    156223|         NA|     Rajput|          118452.0|
|SUBID10059|    173518|   Gajabahu|      Singh|          171729.0|
|SUBID10053|    180709|         NA|     Sonkar|           87588.0|
|SUBID10039|    105758|  Madhubala|      Yadav|          108526.0|
|SUBID10008|    110377|    Gurudas|      Gupta|          141123.0|
|SUBID10001|    112766|   Brahmdev|     Sonkar|          151142.0|
| SUBID1043|    132947|      Saroj|     Pandit|          186502.0|
| SUBID1065|    191132|     Dipesh|     Mishra|           81980.0|
|SUBID10057|    167423|   Chittesh|     Pandey|          161497.0|
|SUBID10069|    188365|Bhageeratha|  Srivastav|           99313.0|
|SUBID10060|    140394|     Jitesh|Vishwakarma|          139755.0|
|SUBID10051|    194166|         NA|     Rajput|          193801.0|
|SUBID10050|    197441|   Deependu|      Gupta|          156557.0|
| SUBID1020|    148137|      Umang|  Srivastav|          105982.0|
|SUBID10026|    189996|      Ekant|     Sonkar|          192381.0|
+----------+----------+-----------+-----------+------------------+
only showing top 20 rows